

<!--TODO überdenken wie man das Problem lösen kann-->
<% subjects = @tests.collect{|t| t.subject}.uniq %>
<ul id="tabs" class="nav nav-tabs" role="tablist">
  <% first = true %>
  <% subjects.sort.each do |s| %>
      <li role="presentation" <% if first %> class="active" <%end %>><a href="#<%= s.parameterize%>" aria-controls="<%= s.parameterize%>" role="tab" data-toggle="tab" onclick="testFunc(<%=s%>)"><%= s%></a></li>
      <% first = false %>
  <% end %>
</ul>
<div class="tab-content" style="border-left: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; border-radius: 0 0 4px 4px; padding: 19px;">
  <% first = true %>
  <% subjects.sort.each do |s| %>
      <div role="tabpanel" class="tab-pane <% if first %>active<% end %>" id="<%= s.parameterize%>">
        <%= form_for([@user, @group, @assessment], :html => {:class => "form"}, :data => {:remote => true}) do |f| %>
            <div class="form-group">
              <%= label_tag "test", "Verfügbare Tests" %>
              <%= select_tag "test", options_from_collection_for_select(@tests.select{|t| t.subject == s}, "id", "long_name"), {:class => "form-control", :onchange => "selectChanged()"}%>
            </div>
            <div class="form-group">
              <%= label_tag "", "Information" %>
              <p class="form-control-static" id="info"><%= @tests.select{|t| t.subject == s}.first.short_info if @tests.select{|t| t.subject == s}.size > 0%></p>
            </div>

            <% first = false %>
            <div class="form-group">
              <%= f.submit :class => "btn btn-primary" %>
              <button type="button" class="btn btn-default" onclick="cancelForm()">Abbrechen</button>
            </div>
        <% end %>
      </div>
  <%end%>
</div>


<script>
    function cancelForm() {
        $('#newAssessment').html("<%= escape_javascript(link_to(raw("<div class='btn btn-default groupButton'><i>Neuer Test</i></div>"), new_user_group_assessment_path(@user, @group), :data => {:remote => true}))%>");
    }

    var infos = {
    <% @tests.each do |t| %>
    <%= t.id%>: "<%= raw(t.short_info)%>",
    <% end %>
    };

    function selectChanged() {
        var e = document.getElementById("test");
        var val = e.options[e.selectedIndex].value;
        $("#info").html(infos[val]);
    }
    function testFunc(s) {
        alert(s)

    }

</script>