<div class="groupCard">

  <div class="row">
    <div class="col-sm-12">
      <p class="lead text-right">
        <%= link_to user_group_assessments_path(@user, @group), :title => "Zurück", :data => {:remote => true} do%>
            <span class="glyphicon glyphicon-th"></span>
        <% end %>
        <%= link_to user_group_assessment_path(@user, @group, @assessment), :title => "Test Löschen", :method => :delete, :data => {:confirm => "Damit gehen alle Messungen des Tests in dieser Klasse verloren!\n\nSind Sie sicher?"} do %>
            <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </p>
    </div>
  </div>

  <div class = "row">
    <div class="col-sm-12">
      <p class="lead text-center">
        <%= @assessment.test.short_name %>
      </p>
    </div>
  </div>

  <div class = "row">
    <div id="print" class="col-sm-12">
      <p id="head" class="lead text-right">

        <%= link_to user_group_assessment_path(@user, @group, @assessment, format: 'pdf'),  :title => "Drucken" , target: '_blank' do %>
            <span class="glyphicon glyphicon-print"></span>
        <% end %>

        <!--TODO maybe not used, sollte dann auch nicht da sein-->
        <%= link_to user_group_assessment_path(@user, @group, @assessment), :title => "Graph neu laden", :data => {:remote => true} do%>
            <span class="glyphicon glyphicon-refresh"></span>
        <% end %>

      </p>
      <!-- maybe not used=> empty element/no _assessment_draw_graph.js.erb for the test-->
      <div id="upperPart"></div>
    </div>
  </div>


  <div class = "row">
    <div class="col-sm-12">
      <div id="table">
        <%= render 'measurements/index'%>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    <%if @assessment.test.generic_views["assessment_upperPart"].nil? || @assessment.test.generic_views["assessment_upperPart"].blank?%>
      <%= render 'tests/generic_views/standard/assessment_draw_graph.js.erb'%>
    <%else%>
      <%= render 'tests/generic_views/' + @assessment.test.generic_views["assessment_upperPart"]%>
    <%end%>
</script>
