<div class="groupCard">

  <div class="row">
    <div class="col-sm-12">
      <p class="lead text-right">
        <%= link_to user_group_assessments_path(@user, @group), :title => "Zurück", :data => {:remote => true} do%>
            <span class="glyphicon glyphicon-th"></span>
        <% end %>
        <%= link_to user_group_assessment_path(@user, @group, @assessment), :title => "Test Löschen", :method => :delete, :data => {:confirm => "Damit gehen alle Messungen des Tests in dieser Klasse verloren!\n\nSind Sie sicher?"} do %>
            <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </p>
    </div>
  </div>

  <div class = "row">
    <div class="col-sm-12">
      <p class="lead text-center">
        <%= @assessment.test.short_name %>
      </p>
    </div>
  </div>

  <div class = "row">
    <div id="print" class="col-sm-12">

      <%if @assessment.test.generic_views["assessment"].nil? || @assessment.test.generic_views["assessment"].blank?%>
        <%= render 'tests/generic_views/standard/assessment_graph',online: true%>
      <%else%>
        <%= render 'tests/generic_views/' + @assessment.test.generic_views["assessment"] ,online: true%>
      <%end%>

    </div>
  </div>


  <div class = "row">
    <div class="col-sm-12">
      <div id="table">
        <%= render 'measurements/index'%>
      </div>
    </div>
  </div>
</div>

