<!DOCTYPE html>
<html>
<head>

	<title><%= @group.name %> - <%=@assessment.test.name %></title>

	<!--<script href="/home/levumi/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/c3-rails-0.4.11/vendor/assets/stylesheets/c3.css" rel="stylesheet" type="text/css"></script>
	<script src="/home/levumi/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/d3_rails-4.1.1/app/assets/javascripts/d3.v3.min.js" charset="utf-8"></script>
	<script src="/home/levumi/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/d3_rails-4.1.1/app/assets/javascripts/d3.v3.min.js"></script>
	<script src="/home/levumi/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/d3_rails-4.1.1/app/assets/javascripts/d3.min.js"></script>
	<%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
	<%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" %>
	<%= wicked_pdf_javascript_include_tag 'd3.v3.min' %>
	<%= wicked_pdf_javascript_include_tag 'c3.min.js' %>
	-->
	<script src="/home/levumi/levumi/LeVuMi/app/assets/javascripts/cs.min.js"></script>
	<script src="/home/levumi/levumi/LeVuMi/app/assets/javascripts/d3.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<%= wicked_pdf_stylesheet_link_tag 'c3' %>

</head>
<body>
	<h3 class="text-center"> <%= @group.name %> - <%=@assessment.test.name %> </h3>
	<div id="chart" width="1600" height="800" style="width: 800px; height: 400px"></div>

	<script>
		<%= render file: 'assessments/_draw_graph.js.erb'%>	
	</script>


</body>
</html>


