<ul class="nav nav-pills" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="test-tab" data-toggle="tab" href="#test" role="tab" aria-controls="test" aria-selected="true">Jetzt testen</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="results-tab" data-toggle="tab" href="#results" role="tab" aria-controls="results" aria-selected="true">Auswertung</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="false">Testungen verwalten</a>
  </li>
</ul>

<div class="tab-content" style="padding: 1em">

  <div class="tab-pane" id="test" role="tabpanel" aria-labelledby="test-tab">
    Neue Messung, neuer Messzeitraum
  </div>

  <div class="tab-pane active" id="results" role="tabpanel" aria-labelledby="results-tab">
    Assessment #<%= @assessment.id %>
    Javascript Code von Test, Result Daten vorhanden.
  </div>

  <div class="tab-pane" id="overview" role="tabpanel" aria-labelledby="overview-tab">

    <div class="table">
      <div class="row">
        <div class="col-2"><b>Woche ab dem</b></div>
        <div class="col-2"><b>Anzahl Ergebnisse</b></div>
        <div class="col-2"><b>Details</b></div>
      </div>

      <!-- Hin- und herschalten des Icons zum Ausklappen der Details -->
      <style>
        [data-toggle="collapse"].collapsed .if-not-collapsed {
          display: none;
        }
        [data-toggle="collapse"]:not(.collapsed) .if-collapsed {
          display: none;
        }
      </style>

      <% @assessment.get_grouped_results.each do |k, v| %>
        <div class="row mt-1">
            <div class="col-2"><%= k.to_s %></div>
            <div class="col-2"><%= v.size %></div>
            <div class="col-2">
              <div class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapse-<%=v[0].id%>">
                <button class="if-collapsed btn btn-outline-primary"><i class="fas fa-search-plus"></i></button>
                <button class="if-not-collapsed btn btn-outline-primary"><i class="fas fa-search-minus"></i></button>
            </div>
        </div>
        </div>
        <div id="collapse-<%=v[0].id%>" class="row collapse in mt-2">
          <div class="col-5">
            <table class="table table-striped table-borderless ml-2">
              <thead>
                <th>Datum</th>
                <th>Schüler/-in</th>
                <th>Aktionen</th>
              </thead>
              <tbody>
                <%= render v  %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>

    </div>
  </div>

</div>
