<style>
  .c3-axis {
    font-size: 10pt;
  }
</style>

<% content_for :title do%>
  <%= @group.name %> - <%= @assessment.test.name %>
<% end %>

<h3 class="text-center"> <%= @group.name %> - <%=@assessment.test.name %> </h3>
<br/>
<br/>

<div id="chart" style="width: 1122px; height: 561px"></div>

<script>
  <%= render file: 'assessments/_draw_graph.js.erb'%>
</script>


