<% content_for :top do%>
  <p class="navbar-brand">Angemeldet als: <%= @student.login%></p>
  <div class = "navbar-right" style="padding-right: 15px">
    <form class="navbar-form" method="post" action="<%=url_for(:controller => "frontend", :action => "logout")%>">
      <%= token_tag nil %>
      <button type="submit" class="btn btn-lg btn-default">Abmelden</button>
    </form>
  </div>
<% end %>

<div class="well">
  <h3>Die folgenden Tests stehen für dich zur Verfügung:</h3>
  <br/>
  <table class="table">
  <% @measurements.sort_by(&:date).each do |m| %>
        <tr>
          <td>
            <div id="groupName">
              <p class="lead" style="font-size: 32px" >
                <%= m.assessment.test.name + " (" + m.assessment.test.level + ")" %>
              </p>
            </div>
          </td>
          <td>
            <%= link_to url_for(controller: 'frontend', action: 'start', id: m.id) do%><button class="btn btn-success btn-lg">Jetzt starten!</button><% end %>
          </td>
          <td>
            <p class="lead" style="font-size: 24px">
              Möglich bis: <%=m.date.strftime("%d.%m.%y")%>
            </p>
          </td>
        </tr>
  <% end %>
  </table>

</div>

<script>
  //possible Hack
    //=> Alternative: from login (welcome-view) until frontend Indexpage with window.location.replace();
    window.location.hash="no-back-button";
    window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
    window.onhashchange=function(){window.location.hash="no-back-button";}
</script>