<div class='row'>
  <div class='col-3'>
  </div>
  <div class='col-6'>
    <div class='card card-header mt-5 ml-5 mr-5'>
      <% if @user.intro_state > 0 %> Geänderte <% end %> Nutzungsbedingungen
    </div>
    <div class='card card-body ml-5 mr-5'>
      <%= form_for @user, url: '/willkommen' do |f| %>
        <%=render 'application/terms_and_conditions' %>
        <p class='text-justify'>
          <div class='form-check'>
            <%= check_box_tag('tc_accepted', "1", !@user.tc_accepted.nil?, class: 'form-check-input', disabled: !@user.tc_accepted.nil?, id: 'cb', onclick: "$('#submit').attr('disabled', !$('#cb').is(':checked'));") %>
            <%= label_tag 'tc_accepted', class: 'form-check-label' do %>
              Ich bin mit diesen Nutzungsbedingungen einverstanden.
            <% end %>
          </div>
        </p>
        <% if @user.tc_accepted.nil? %>
          <%= f.submit 'Weiter', class: 'btn btn-outline-success',  disabled: @user.tc_accepted.nil?, id: 'submit'%>
        <% else %>
          <p class='text-muted'>Akzeptiert am: <%= @user.tc_accepted.strftime('%d.%m.%Y - %H:%M') %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class='col-3'>
  </div>
</div>
