var chart<%=test%> = c3.generate({
    bindto: '#chart<%=test%>',
    data: {
        x: 'x',
        columns: [
            ['x',
                <% results.each do |r| %>
                '<%= r.measurement.date.to_date %>',
                <% end %>
            ],
            ['<%= student.name %>',
                <% results.each do |r| %>
                <% unless r.nil? %>
                <%= r.score.nil? ? "null" : r.score %>
                <% else %>
                null
                <% end %>,
                <% end %>
            ],
        ]
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                fit: true,
                format: "%e %b %y"
            },
            label: {
                text: 'Testzeitpunkte',
                position: 'outer-left'
            }
        },
        y: {
            label: {
                text: 'Anzahl richtiger Items',
                position: 'outer-middle'
            },
            min: 1
        }
    },
    line: {
        connectNull: true
    },
    legend: {
        hide: true
    },
    tooltip: {
        contents: function (d, defaultTitleFormat, defaultValueFormat, color) {
            var res = "<table class='table table-condensed table-striped' style='background-color:white'>";
            res = res + "<tr><td>Schüler/-in</td><td>" + d[0].name + "</td></tr>";
            res = res + "<tr><td>Punkte</td><td>" + d[0].value + "</td></tr>";
            res = res + "<tr><td>Minimum</td><td>" + Math.min(...chart<%=test%>.data.values('<%= student.name %>')) + "</td></tr>";
            res = res + "<tr><td>Maximum</td><td>" + Math.max(...chart<%=test%>.data.values('<%= student.name %>')) + "</td></tr>";
            res = res + "</table>";
            return res;
        }
    }
});
