var chart<%=test%> = c3.generate({
    bindto: '#chart<%=test%>',
    data: {
        x: 'x',
        columns: [
            ['x',
                <% results.each do |r| %>
                '<%= r.measurement.date.to_date %>',
                <% end %>
            ],
            ['<%= student.name %>',
                <% max = 0 %>
                <% results.each do |r| %>
                  <%if !r.measurement.max.nil? && r.measurement.max > max %>
                    <% max = r.measurement.max %>
                  <% end %>
                <% unless r.nil? %>
                <%= r.score.nil? ? "null" : r.score %>
                <% else %>
                null
                <% end %>,
                <% end %>
            ],
            ['75% Niveau der Klasse',
                <% results.each do |r| %>
                <% unless r.nil? %>
                <%= r.measurement.max.nil? ? "null" : r.measurement.third_quart %>
                <% else %>
                null
                <% end %>,
                <% end %>
            ],
            ['25% Niveau der Klasse',
                <% results.each do |r| %>
                <% unless r.nil? %>
                <%= r.measurement.min.nil? ? "null" : r.measurement.first_quart %>
                <% else %>
                null
                <% end %>,
                <% end %>
            ],
            ['Klassen-Durchschnitt',
                <% results.each do |r| %>
                <% unless r.nil? %>
                <%= r.measurement.average.nil? ? "null" : r.measurement.average %>
                <% else %>
                null
                <% end %>,
                <% end %>
            ]
        ],
    },
    color: {
        pattern: ['#46B8DA', '#5CB85C', '#D9534F', '#F0AD4E']
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                fit: true,
                format: "%e %b %y"
            },
            label: {
                text: 'Testzeitpunkte',
                position: 'outer-left'
            }
        },
        y: {
            label: {
                text: 'Anzahl richtiger Items',
                position: 'outer-middle'
            },
            min: 1,
            max: <%= max %>
        }
    },
    line: {
        connectNull: true
    },
    legend: {
        hide: false
    },
    tooltip: {
        contents: function (d, defaultTitleFormat, defaultValueFormat, color) {
            var res = "<table class='table table-condensed table-striped' style='background-color:white'>";
            res = res + "<tr><td>Schüler/-in</td><td>" + d[0].name + "</td></tr>";
            res = res + "<tr><td>Punkte</td><td>" + d[0].value + "</td></tr>";
            res = res + "<tr><td>Bisheriges Minimum</td><td>" + Math.min(...chart<%=test%>.data.values('<%= student.name %>')) + "</td></tr>";
            res = res + "<tr><td>Bisheriges Maximum</td><td>" + Math.max(...chart<%=test%>.data.values('<%= student.name %>')) + "</td></tr>";
            res = res + "</table>";
            return res;
        }
    }
});
chart<%=test%>.focus(['<%= student.name %>']);