<table class="table table-striped">
  <thead>
  <th>
    Schüler/-in
  </th>
  <th>
    Login-Code
  </th>
  <th>
    Geschlecht
  </th>
  <th>
    Geburtsdatum
  </th>
  <th>
    Migrationshintergrund
  </th>
  <th>
    Diag. Förderbedarf
  </th>
  <th>
    Insgesamte Messungen
  </th>
  <th>
    Aktion
  </th>
  </thead>
  <tbody>
  <% @group.students.sort_by { |a| a.name}.each do |student| %>
      <tr>
        <td>
          <%= student.name %>
        </td>
        <td>
          <%= student.login %>
        </td>
        <td>
          <%= raw(student.get_gender) %>
        </td>
        <td>
          <%= raw(student.get_birthdate) %>
        </td>
        <td>
          <%= raw(student.get_migration) %>
        </td>
        <td>
          <%= raw(student.get_specific_needs) %>
        </td>
        <td>
          <%= link_to user_group_student_path(@user, @group, student), :data => {:remote => true} do %>
            <%= (student.results.map{|x| x.score} - [nil]).size %>
          <% end %>
        </td>
        <td>
            <%= link_to edit_user_group_student_path(@user, @group, student), :data => {:remote => true} do %>
                <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to user_group_student_path(@user, @group, student), :method => :delete, :data => {:remote => true, :confirm => "Sind Sie sicher?"} do %>
                <span class="glyphicon glyphicon-trash"></span>
            <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div id="studentForm">
  <%= link_to "Schüler/-in hinzufügen", new_user_group_student_path(@user, @group), :class => "btn btn-default", :data => {:remote => true} %>
</div>

