<table class="table table-striped">
  <thead>
  <th>
    Schüler/-in
  </th>
  <th>
    Insgesamte Messungen
  </th>
  <th>
    Aktion
  </th>
  </thead>
  <tbody>
  <% @group.students.sort_by { |a| a.name}.each do |student| %>
      <tr>
        <td>
          <%= student.name %>, <%= student.firstname %>
        </td>
        <td>
          <%= student.results.count %>
        </td>
        <td>
            <%= link_to edit_user_group_student_path(@user, @group, student), :data => {:remote => true} do %>
                <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to user_group_student_path(@user, @group, student), :method => :delete, :data => {:remote => true, :confirm => "Sind Sie sicher?"} do %>
                <span class="glyphicon glyphicon-trash"></span>
            <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div id="studentForm">
  <%= link_to "Schüler/-in hinzufügen", new_user_group_student_path(@user, @group), :class => "btn btn-default", :data => {:remote => true} %>
</div>

