<% test =Test.find(key) %>
<% items = @student.getTestResults(key) %>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="h<%=key%>">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" href="#c<%=key%>" aria-expanded="false" aria-controls="c<%=key%>">
        <%= test.short_name%>
      </a>
    </h4>
  </div>

  <div id="c<%=key%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="h<%=key%>">
    <div class="panel-body" <% unless online %>style="width: 790px"<% end %>>

      <%if test.generic_views["student"].nil? || test.generic_views["student"].blank?%>
          <%= render 'tests/generic_views/standard/student_overview', key: key, results:val, without_table:without_table, online: online, test:test, items:items%>
      <%else%>
          <%= render 'tests/generic_views/' + test.generic_views["student"], key: key, results:val, without_table:without_table, online: online, test:test,items:items%>
      <%end%>

    </div>
  </div>
</div>
