<% test =Test.find(key) %>
<% items = @student.getTestResults(key) %>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="h<%=key%>">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" href="#c<%=key%>" aria-expanded="false" aria-controls="c<%=key%>">
        <%= test.short_name%>
      </a>
    </h4>
  </div>

  <div id="c<%=key%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="h<%=key%>">
    <div class="panel-body" <% unless online %>style="width: 790px"<% end %>>

      <% if online %>
        <div class="dropdown text-right" id="p<%=key%>">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuPrint" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-print" style="color:#337AB7"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuPrint">
            <li><%= link_to "Alles", user_group_student_path(@user, @group, @student , format: 'pdf', :test => key), :target => "_blank"%></li>
            <li><%= link_to "Nur Graph", user_group_student_path(@user, @group, @student , format: 'pdf', :without_table => true, :test => key), :target => "_blank"%></li>
          </ul>
        </div>
      <% end %>

      <!-- maybe not used=> empty element/no _student_draw_graph.js.erb for the test-->
      <div id="chart<%=key%>" style="width: 100%" >
      </div>

      <%= render 'tests/generic_views/standard/student_overview_table', key: key, val:val, without_table:without_table%>
    </div>
  </div>
</div>
