<div class="groupCard">

  <div class="row">
    <div class="col-sm-12">
      <p class="lead text-right">
        <%= link_to '#', :title => "Zurück", :onclick => "cancel()" do%>
            <span class="glyphicon glyphicon-th"></span>
        <% end %>
      </p>
    </div>
  </div>

  <div class = "row">
    <div class="col-sm-12">
      <p class="lead text-center">
        <%= @student.fullName %>
      </p>
    </div>
  </div>

<% @results.each do |key, val| %>
  <% test = Test.find(key) %>
  <% items = @student.getTestResults(key)%>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="h<%=key%>">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="#c<%=key%>" aria-expanded="false" aria-controls="c<%=key%>">
        <%= test.name %>
        </a>
        </h4>
    </div>
    <div id="c<%=key%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="h<%=key%>">
      <div class="panel-body">

        <p class="lead text-right" id="p<%=key%>">
            <a onclick="print('<%=key%>', '<%= test.name %>')"><span class="glyphicon glyphicon-print"></span></a>
        </p>

        <div id="chart<%=test.id%>">
        </div>

        <p>
          <b>Höchste Lösungswahrscheinlichkeit (viertes Quartil):</b>
          <% if val.size < 3 %>
              -
          <% else %>
              <% first = true %>
              <% test.items.each do |i| %>
                  <% if items["data"].has_key?(i.id.to_s) && items["data"][i.id.to_s]["prob"] > items["4th"] %>
                      <% unless first %>
                          <%= ", " %>
                      <% end %>
                      <% first = false %>
                      <%= i.shorthand %>
                  <% end %>
              <% end %>
              <% if first %> - <% end %>
          <% end %>
        </p>
        <p>
          <b>Geringste Lösungswahrscheinlichkeit (erstes Quartil):</b>
          <% if val.size < 3 %>
              -
          <% else %>
              <% first = true %>
              <% test.items.each do |i| %>
                  <% if items["data"].has_key?(i.id.to_s) && items["data"][i.id.to_s]["prob"] < items["1st"] %>
                      <% unless first %>
                          <%= ", " %>
                      <% end %>
                      <% first = false %>
                      <%= i.shorthand %>
                  <% end %>
              <% end %>
              <% if first %> - <% end %>
          <% end %>
        </p>

        <table class="table table-striped">
          <thead>
          <th>
            Zeitpunkt
          </th>
          <th>
            Gelöste Items
          </th>
          <th>
            Nicht gelöste Items
          </th>
          <th>
            Prozentwert
          </th>
          </thead>
          <tbody>
            <% val.each do |r| %>
            <% unless r.score.nil? %>
                <tr>
                  <td>
                    <%= r.measurement.date.to_date.strftime("%d.%m.%Y")%>
                  </td>
                  <td>
                    <% first = true %>
                    <% for i in 0..r.items.size-1 do %>
                        <% if r.responses[i] ==  1 %>
                            <% unless first %>
                                <%= ", " %>
                            <% end %>
                            <% first = false %>
                            <%= Item.find(r.items[i]).shorthand %>
                        <% end %>
                    <% end %>
                  </td>
                  <td>
                    <% first = true %>
                    <% for i in 0..r.items.size-1 do%>
                        <% if r.responses[i] ==  0 %>
                            <% unless first %>
                                <%= ", " %>
                            <% end %>
                            <% first = false %>
                            <%= Item.find(r.items[i]).shorthand %>
                        <% end %>
                    <% end %>
                  </td>
                  <td>
                    <%= (r.total * 100).round(1)%>
                  </td>
                </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

</div>

<script type="text/javascript" charset="utf-8">

    function cancel() {
        $('#students').html("<%= escape_javascript(render 'index') %>");
    };

    <% @results.each do |key, val| %>
    <% test = Test.find(key) %>
    <%= render file: 'students/_draw_graph', :locals =>  {:student => @student, :test => test.id, :results => val}%>
    <% end %>

    function print(id, test) {
        var old = document.body.innerHTML;
        document.body.innerHTML = $("#c" + id).html();
        $("#p" + id).html("<%= @student.fullName %> - " + test);
        $("#p" + id).removeClass("text-right");
        $("#p" + id).addClass("text-middle");
        var content = document.documentElement.outerHTML;
        document.body.innerHTML = old;
        printWindow = window.open();
        printWindow.location = '';
        printWindow.document.write(content);
        printWindow.document.close();
        printWindow.document.title =  "Druckansicht";
        printWindow.focus();
        printWindow.print();
    };

</script>