<style>
    .c3-line-student {
        stroke-width: 3px;
    }
    .c3-line-n25, .c3-line-n50, .c3-line-n75 {
        stroke-dasharray: 10,10;
    }
</style>

<div class="groupCard">

  <div class="row">
    <div class="col-sm-12">
      <p class="lead text-right">

      <%= link_to user_group_student_path(@user, @group, @student, format: 'pdf') , :title => "Alles drucken", :target => "_blank" do%>
          <span class="glyphicon glyphicon-print"></span>
      <% end %>

        <%= link_to '#', :title => "Zurück", :onclick => "cancel()" do%>
            <span class="glyphicon glyphicon-th"></span>
        <% end %>
      </p>
    </div>
  </div>

  <div class = "row">
    <div class="col-sm-12">
      <p class="lead text-center">
        <%= @student.name %>
      </p>
    </div>
  </div>

<% @results.each do |key, val| %>
  <%= render partial: 'students/overview', locals: {:key => key, :val => val, :online => true, :without_table => false}%>
<% end %>

</div>

<script type="text/javascript" charset="utf-8">

    function cancel() {
        $('#students').html("<%= escape_javascript(render 'index') %>");
    };

    <% @results.each do |key, val| %>
      <% test = Test.find(key) %>
      <%= render file: 'students/_draw_graph', locals: {:student => @student, :test => test.id, :results => val}%>
    <% end %>

    function print(id, test, details) {
        var old = document.body.innerHTML;
        document.body.innerHTML = $("#c" + id).html();
        if (!details)
            $("#table" + id).html("");
        $("#p" + id).html("<p class='lead text-middle'><%= @student.name %> - " + test + "</p>");
        $("#p" + id).removeClass("dropdown");
        $("#p" + id).removeClass("text-right");
        $("#p" + id).addClass("text-center");
        var content = document.documentElement.outerHTML;
        document.body.innerHTML = old;
        printWindow = window.open();
        printWindow.location = '';
        printWindow.document.write(content);
        printWindow.document.close();
        printWindow.document.title =  "Druckansicht";
        printWindow.focus();
        <% @results.each do |key, val| %>
        <% test = Test.find(key) %>
        <%= render file: 'students/_draw_graph', :locals =>  {:student => @student, :test => test.id, :results => val}%>
        <% end %>
    };

</script>