<!DOCTYPE html>
<html>
<head>
  <title>createdPDF
  </title>

  <!--<script href="/home/ibrahim/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/c3-0.4.11/c3.css" rel="stylesheet" type="text/css"></script>
  <script src="/home/levumi/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/d3_rails-4.1.1/app/assets/javascripts/d3.v3.min.js" charset="utf-8"></script>
  <script src="/home/levumi/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/d3_rails-4.1.1/app/assets/javascripts/d3.v3.min.js"></script>
  <script src="/home/levumi/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/d3_rails-4.1.1/app/assets/javascripts/d3.min.js"></script>
  -->
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
  <%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" %>
  <%= wicked_pdf_javascript_include_tag 'd3.v3.min' %>
  <%= wicked_pdf_javascript_include_tag 'c3.min.js' %>
  
  <!-- at word use the following path:
  /home/levumi/levumi/LeVuMi/app instead of /home/ibrahim/ruby/...
  -->
  <script src="/home/ibrahim/ruby/levumi/app/assets/javascripts/cs.min.js"></script>
  <script src="/home/ibrahim/ruby/levumi/app/assets/javascripts/d3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= wicked_pdf_stylesheet_link_tag 'c3' %>
  <style type="text/css">
    td{
      font-size: 10px;
    } 
     th, b{
      font-size: 10px;
    }
    @media print
    {
        .panel {page-break-after:always}
    }
    .c3-line-student {
        stroke-width: 3px;
    }
    .c3-line-n25, .c3-line-n50, .c3-line-n75 {
        stroke-dasharray: 10,10;
    }
  </style>
</head>

<body>
 <% @results.each do |key, val| %>
  <% test = Test.find(key) %>
  <% items = @student.getTestResults(key)%>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="h<%=key%>">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" href="#c<%=key%>" aria-expanded="false" aria-controls="c<%=key%>">
        <%= @student.name %> - <%= test.short_name%>
        </a>
      </h4>
    </div>

    <div id="c<%=key%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="h<%=key%>">
      <div class="panel-body">

        <!-- empty div to add the chart -->
        <div id="chart<%=key%>" width="800" height="400"  style="width: 600px; height: 300px"></div>


        <div id="table<%=key%>">

        <p>
          <b>Höchste Lösungswahrscheinlichkeit (viertes Quartil):</b>
          <% if val.size < 3 %>
              -
          <% else %>
              <% first = true %>
              <% test.items.each do |i| %>
                  <% if items["data"].has_key?(i.id.to_s) && items["data"][i.id.to_s]["prob"] > items["4th"] %>
                      <% unless first %>
                          <%= ", " %>
                      <% end %>
                      <% first = false %>
                      <%= i.shorthand %>
                  <% end %>
              <% end %>
              <% if first %> - <% end %>
          <% end %>
        </p>
        <p>
          <b>Geringste Lösungswahrscheinlichkeit (erstes Quartil):</b>
          <% if val.size < 3 %>
              -
          <% else %>
              <% first = true %>
              <% test.items.each do |i| %>
                  <% if items["data"].has_key?(i.id.to_s) && items["data"][i.id.to_s]["prob"] < items["1st"] %>
                      <% unless first %>
                          <%= ", " %>
                      <% end %>
                      <% first = false %>
                      <%= i.shorthand %>
                  <% end %>
              <% end %>
              <% if first %> - <% end %>
          <% end %>
        </p>

        <table class="table table-striped">
          <thead>
          <th>
            Zeitpunkt
          </th>
          <th >
            Richtig gelöste Items
          </th>
          <th>
            Falsch gelöste Items
          </th>
          <th>
            Anzahl richtig gelöster Items
          </th>
          <th>
            Anzahl falsch gelöster Items
          </th>
          <th>
            Lösungswahrscheinlichkeit in %
          </th>
          </thead>
          <tbody>
            <% val.sort_by {|x| x.measurement.date}.each do |r| %>
            <% unless r.score.nil? %>
                <tr>
                  <td>
                    <%= r.measurement.date.to_date.strftime("%d.%m.%Y")%>
                  </td>
                  <td>
                    <% first = true %>
                    <% for i in 0..r.items.size-1 do %>
                        <% if r.responses[i] ==  1 %>
                            <% unless first %>
                                <%= ", " %>
                            <% end %>
                            <% first = false %>
                            <%= Item.find(r.items[i]).shorthand %>
                        <% end %>
                    <% end %>
                  </td>
                  <td>
                    <% first = true %>
                    <% for i in 0..r.items.size-1 do%>
                        <% if r.responses[i] ==  0 %>
                            <% unless first %>
                                <%= ", " %>
                            <% end %>
                            <% first = false %>
                            <%= Item.find(r.items[i]).shorthand %>
                        <% end %>
                    <% end %>
                  </td>
                  <td>
                    <%= r.count_1 %>
                  </td>
                  <td>
                    <%= r.count_0 %>
                  </td>
                  <td>
                    <%= (r.total * 100).round(1)%>
                  </td>
                </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>

        </div>
        <!-- 
          If the variable without_table is set, thats mean that only the graph
          should be shown, therefore the table will be deleted
        -->
        <script type="text/javascript">
            <% if params.has_key? :without_table %>
               $("#table<%=key%>").html("");
            <% end %>
        </script>
      </div>
    </div>
  </div>
  <% end %>
</body>
</html>

<script>
    <% @results.each do |key, val| %>
    <% test = Test.find(key) %>
    <%= render file: 'students/_draw_graph.js.erb', :locals  => {:student => @student, :test => test.id, :results => val}%>
    <% end %>
</script>
