<%
  before_gap = item.itemtext.split("{")[0]
  after_gap = item.itemtext.split("}")[1]
  alternatives = item.itemtext.split("{")[1].split("}")[0].split(",")
  alternatives.shuffle!
  #satz = before_gap + " ........ " + after_gap
%>
<div>
  <img style='float: right; width: 250px' src='/images/shared/Levumi-normal-blau.jpg'>
</div>
<br><br>
</br></br></br></br></br></br>
<div class='row text-center' style='font-size: 60px; font-family: fibel_nordregular;'>
  <div>
    <label id='answer'>  </label>
  </div>
</div>
<br><br>
<br><br>
<div class='row text-center span12' id='rowButtons'>

  <div class ='col-lg-3'>
    <button id='button0'  type='button' style="font-size: 30px;font-family: fibel_nordregular; font-weight: bold" class='btn btn-default btn-block'><%= alternatives[0] %></button>
  </div>
  <div class ='col-lg-3'>
    <button id='button1'  type='button' style="font-size: 30px;font-family: fibel_nordregular; font-weight: bold" class='btn btn-default btn-block'><%= alternatives[1] %></button>
  </div>
  <div class ='col-lg-3'>
    <button id='button2' type='button' style="font-size: 30px;font-family: fibel_nordregular; font-weight: bold" class='btn btn-default btn-block'><%= alternatives[2] %></button>
  </div>
  <div class ='col-lg-3'>
    <button id='button3' type='button' style="font-size: 30px;font-family: fibel_nordregular; font-weight: bold" class='btn btn-default btn-block'><%= alternatives[3] %></button>
  </div>

</div><br><br>
<br><br><br><br>
<div class='row text-center'>
  <div class='col-md-4 col-md-offset-4'>
    <button id='next' type='button' class='btn btn-lg btn-success btn-block'><span style='font-size: 40px; font-family: fibel_nordregular;'>Weiter</span></button>
  </div>
</div>

<script>
    $('button').click(function(){
        if(this.id == 'next'){
            nextClicked();
        }
        else{
            buttonClicked(this.id);
        }
    });
    var before_gap = '<%= before_gap %> ' ;
    var after_gap = ' <%= after_gap %>'  ;
    splitted = before_gap.split('.');

    if (splitted.length > 1 && splitted[1].length != 0){
        if(splitted.length == 3)
            before_gap = splitted[0] + "." + splitted[1] + ".<br>" + splitted[2];
        else
            before_gap = splitted[0] + ".<br>" + splitted[1];
    }
    document.getElementById('answer').innerHTML = before_gap + '..........' + after_gap;
    var answer = '';
    function buttonClicked(buttonID){
        var text = $('#'+buttonID).text();
        answer = text;
        if(after_gap.length == 2) after_gap = after_gap.slice(-1);
        $('#answer').html(before_gap + "<span style='text-decoration:underline; text-decoration-style: dotted;'>" +text + "</span>" + after_gap);
    }
    function nextClicked() {
        actualAnswers = actualAnswers + answer + ',';
        if(answer=='<%= item.shorthand%>'){
            currentResult = currentResult + '1,';
        }
        else {
            currentResult = currentResult + '0,';
        };
        currentTimes = currentTimes + (new Date() - stopwatch) + ',';
        stopwatch = new Date();
        nextItem();
    };
</script>