<%
  before_gap = item.itemtext.split("{")[0]
  after_gap = item.itemtext.split("}")[1]
  alternatives = item.itemtext.split("{")[1].split("}")[0].split(",")
%>
</br></br></br></br>
<div class='row text-center'>
  <div>
    <img style='float: right; width: 250px' src='/images/shared/Levumi-normal-blau.jpg'>
    <div>
      <label class='control-label' style='font-size: 60px; font-family: fibel_nordregular;'><%= before_gap %>&nbsp</label>
      <label id='answer' class='control-label' style='font-size: 60px; font-family: fibel_nordregular;'>...........</label>
      <label class='control-label' style='font-size: 60px; font-family: fibel_nordregular;'> &nbsp<%= after_gap %></label>
    </div>
  </div>
</div>
<br><br>
<div class='row' id='rowButtons' >
  <div class='col-lg-1 col-md-offset-4' >
    <div class ='row'>
      <button id='button0' style='font-size: 30px; font-family: fibel_nordregular;' type='button' class='btn btn-default btn-block'><%= alternatives[0] %></button>
    </div>
  </div>
  <div class='col-lg-1' >
    <div class ='row'>
      <button id='button1' style='font-size: 30px; font-family: fibel_nordregular;' type='button' class='btn btn-default btn-block'><%= alternatives[1] %></button>
    </div>
  </div>
  <div class='col-lg-1' >
    <div class ='row'>
      <button id='button2' style='font-size: 30px; font-family: fibel_nordregular;' type='button' class='btn btn-default btn-block'><%= alternatives[2] %></button>
    </div>
  </div>
  <div class='col-lg-1' >
    <div class ='row'>
      <button id='button3' style='font-size: 30px; font-family: fibel_nordregular;' type='button' class='btn btn-default btn-block'><%= alternatives[3] %></button>
    </div>
  </div>
</div>
<br><br><br><br>
<div class='row text-center'>

  <div class='col-md-4 col-md-offset-4'>
    <button id='next' type='button' class='btn btn-lg btn-success btn-block'><span style='font-size: 40px; font-family: fibel_nordregular;'>Weiter</span></button>
  </div>
</div>

<script>
  $('button').click(function(){
    if(this.id == 'next'){
      nextClicked();
    }
    else{
      buttonClicked(this.id);
    }
  });
  function buttonClicked(buttonID){
    var text = $('#'+buttonID).text();
    $('#answer').html(text);
  }
  function nextClicked() {
    var tempAnswer = document.getElementById('answer');
    actualAnswers = actualAnswers + tempAnswer.textContent;
    if(tempAnswer.textContent=='<%= item.shorthand%>'){
      currentResult = currentResult + '1,';
    }
    else {
      currentResult = currentResult + '0,';
    };
    stopwatch = new Date() - stopwatch;
    currentTimes = currentTimes + stopwatch + ',';
    nextItem();
  };
</script>