<%= form_for([@user, @group], :html => {:class => "form-inline"}, :data => {:remote => true}) do |f| %>
    <% if @group.errors.any? %>
        <div class="form-group has-error">
    <% else %>
        <div class="form-group">
    <% end %>
    <%= f.label :name, :class => "sr-only" %>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Bezeichnung der Klasse"%>
    </div>
    <div class="form-group">
      <%= f.submit :class => "btn btn-primary" %>
      <button type="button" class="btn btn-default" onclick="cancelForm()">Abbrechen</button>
    </div>
    <% if @user.transferred != true %>
      <%= link_to user_group_path(@user, @group), :title => "Klasse löschen", :method => :delete, :data => {:confirm => "Sind Sie sicher?"}, :class => "btn btn-danger" do %>
          Klasse löschen
      <% end %>
    <% end %>

<% end %>

<script>
    function cancelForm() {
        $('#groupName').html("<%= raw("<p class='lead'>#{@group.name}</p>") %>");
    }
</script>