
<ul id="tabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#active" aria-controls="active" role="tab" data-toggle="tab">Aktuell</a></li>
    <li role="presentation"><a href="#archive" aria-controls="archive" role="tab" data-toggle="tab">Archiv</a></li>
  </ul>

  <div class="tab-content" style="border-left: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; border-radius: 0 0 4px 4px; padding: 19px;">

    <div role="tabpanel" class="tab-pane active" id="active">
        <div class="row">

          <% @groups.each do |group| %>
              <% unless group.archive %>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <%= link_to user_group_path(@user, group) do %>
                        <div class="btn btn-default groupButton">
                          <b><%= group.name %></b>
                        </div>
                    <% end %>
                  </div>
              <% end %>
          <% end %>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div id="newGroup">
              <%= link_to new_user_group_path(@user), :data => {:remote => true} do %>
                  <div class="btn btn-default groupButton">
                    <i>Neue Klasse anlegen</i>
                  </div>
              <% end %>
            </div>
          </div>

        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="archive">
      <div class="row">
        <% @groups.each do |group| %>
            <% if group.archive %>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <%= link_to user_group_path(@user, group) do %>
                      <div class="btn btn-default groupButton">
                        <b><%= group.name %></b>
                      </div>
                  <% end %>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>


  </div>
<script>
    var destroyGroup = '<%=@destroyed_group%>'
    if(destroyGroup){
        studentsCrypt = JSON.parse(sessionStorage['students']);
        delete studentsCrypt[destroyGroup];
        sessionStorage['students'] = JSON.stringify(studentsCrypt);
    }

</script>
