<div class="well groupCard" id="group">

  <div class="row">
    <div class="col-sm-8">
      <div id="groupName">
        <p class="lead">
          <%= @group.name %>
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="lead text-right">
        <%= link_to edit_user_group_path(@user, @group), :data => {:remote => true} do %>
            <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to user_group_path(@user, @group), :method => :delete, :data => {:confirm => "Sind Sie sicher?"} do %>
            <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </p>
    </div>
  </div>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Überblick</a></li>
    <li role="presentation"><a href="#setup" aria-controls="setup" role="tab" data-toggle="tab">Schüler/-innen</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="overview">
      <%= render 'overview' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="setup">
      <%= render 'students/index' %>
    </div>
  </div>


</div>

