<%= form_for(@user, html: {class: "form"}) do |f| %>
    <% if @user.errors.any? %>
        <div class="alert alert-danger">
            <% @user.errors.full_messages.each do |message| %>
                <%= message %><br/>
            <% end %>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: "control-label" %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email, class: "control-label" %><br>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <% if @user.account_type != 2 %>
      <div class="form-group">
        <%= f.label :school, class: "control-label" %><br>
        <%= f.text_field :school, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :occupation, class: "control-label" %><br>
        <%= f.select(:occupation, occupation, {}, {class: "form-control"}) %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :state, class: "control-label" %><br>
      <%= f.select(:state, federal_states, {}, {class: "form-control"}) %>
    </div>
  <%if @login_user == @user%>
    <div class="form-group">
      <%= f.label :password, class: "control-label" %><br>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, class: "control-label" %><br>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  <% end %>
    <% if @login_user.hasCapability?("user") %>
      <div class="form-group">
        <%= f.radio_button :account_type, 0 %>
        <%= f.label :account_type, "Lehrkraft", value: 0 %><br>
        <%= f.radio_button :account_type, 1 %>
        <%= f.label :account_type, "Forscher", value: 1 %><br>
        <%= f.radio_button :account_type, 2 %>
        <%= f.label :account_type, "Sonstiges (Privat/System/...)", value: 2 %><br>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.submit :class => "btn btn-primary", id:"submitButton"%>
      <% if @user.id.nil? || (@login_user.id != @user.id) %>
        <%= link_to "Abbrechen", users_path, :class => "btn btn-default"%>
      <% else %>
          <%= link_to "Abbrechen", user_path(@user), :class => "btn btn-default"%>
      <% end %>
    </div>
<% end %>
<%if @login_user == @user%>
    <script>
        $(function() {
            $('#submitButton').click(function (e) {
                e.preventDefault();
                if($('#user_password').val()!="" & $('#user_password').val()==$('#user_password_confirmation').val()){
                    sessionStorage['encryptKey']= $('#user_password').val();
                    var students = JSON.parse(sessionStorage['students']);
                    var encryptedStudents = {}
                    Object.keys(students).forEach(function(keyGroup) {
                        encryptedStudents[keyGroup] = {}
                        Object.keys(students[keyGroup]).forEach(function(keyStudent) {
                            encryptedStudents[keyGroup][keyStudent] = sjcl.encrypt(sessionStorage['encryptKey'], students[keyGroup][keyStudent])
                        });
                    });
                    jQuery.ajax({
                        type: "PUT",
                        url: "<%= multi_update_user_path(@user) %>",
                        data: {students: encryptedStudents},
                        success: function(result) {$('#edit_user_' + '<%=@user.id%>').submit();}
                    })
                }
                else {
                    //let backend handle Error
                    $('#edit_user_' + '<%=@user.id%>').submit();
                }
                return false;
            });
        });
    </script>
<%end%>