<%= form_for user, remote: true, html: {autocomplete: "off"} do |f| %>
  <div class="form-group">
    <label for="email">E-Mail Adresse</label>
    <%= f.email_field :email, id: "email", class: "form-control"%>
    <div class="invalid-feedback">
      Darf nicht leer und noch nicht registriert sein!   <!-- TODO: Aufteilung nach Situation? -->
    </div>
  </div>
    <div class="form-group">
      <%= f.radio_button :account_type, 0 %>
      <%= f.label :account_type, "Lehrkraft", value: 0 %><br>
      <%= f.radio_button :account_type, 1 %>
      <%= f.label :account_type, "Forscher", value: 1 %><br>
      <%= f.radio_button :account_type, 2 %>
      <%= f.label :account_type, "Sonstiges (Privat/System/...)", value: 2 %><br>
    </div>
  <%= f.submit (user.new_record? ? 'Anlegen' : 'Aktualisieren'), class: "btn btn-outline-success"%>
  <button class="btn btn-outline-secondary" onclick="$('#modal').modal('hide');return false;">Abbrechen</button>
<% end %>