<%
  assessments = User.get_assessment_count
  measurements = User.get_measurement_count
  results = User.get_result_count
%>

<table class="table table-striped">
  <thead>
  <th>
    Name
  </th>
  <th>
    Anzahl Assessments/Klassen
  </th>
  <th>
    Anzahl Messungen/Messzeitpunkte
  </th>
  <th>
    Anzahl Ergebnisse/Messungen
  </th>
  </thead>
  <tbody>
  <% @users.order("name ASC").each do |user| %>
  <tr>
    <td>
      <%= link_to user_path(user.id, format: "xml") do %>
          <%= user.name %>
      <% end %>
    </td>
    <td>
      <%= assessments.has_key?(user.id) ? assessments[user.id] : 0 %>
    </td>
    <td>
      <%= measurements.has_key?(user.id) ? measurements[user.id] : 0%>
    </td>
    <td>
      <%= results.has_key?(user.id) ? results[user.id] : 0%>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>