<td>
  <%= user.id %>
</td>
<td>
  <%= link_to user.email, user_groups_path(user) %>
</td>
<td>
  <%= user.name %>
</td>
<td>
  <%= user.account_type == 0 ? "Lehrkraft" : user.account_type == 1 ? "Forscher" : "Sonstiges (Privat/System/...)" %>
</td>
<td>
  <%= user.school %>
</td>
<td>
  <%= link_to edit_user_path(user) do %>
    <span class="glyphicon glyphicon-pencil"></span>
  <% end %>
  <% if user != @login_user %>
    <%= link_to user_path(user), method: :delete, data: {confirm: 'Sind Sie sicher?'} do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  <% end %>
</td>