<tr>
  <th scope="row"><%= user.id %></th>
  <td><%= user.email %></td>
  <td><%= user.get_account_type %></td>
  <td><%= user.last_login.nil? ? 'Nie' : user.last_login %></td>
  <td>
    <%= link_to edit_user_path(user), remote: true do %><button class="btn btn-outline-success"><i class="fas fa-user-edit"></i> Bearbeiten</button><% end %>
    <%= link_to user_path(user), method: :delete, remote: true, data: {confirm: "Sind Sie sicher?"} do %><button class="btn btn-outline-danger"><i class="fas fa-trash"></i> Löschen</button><% end %>
    <% if user.id != @login.id %>
      <%= link_to login_path(user: user.id) do %><button class="btn btn-outline-primary"><i class="fas fa-user-md"></i> Einloggen als</button><% end %>
    <% end %>
  </td>
</tr>