<div class="well userCard" id="group">
  <%= link_to "Benutzer hinzufügen", new_user_path, :class => "btn btn-default" %>

  <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#compose" aria-expanded="false" aria-controls="compose">
    Nachricht an Benutzer
  </button>
  <div class="collapse" id="compose">
    <div class="well">
      <%= form_tag(user_path(@login_user), :method => :put) do %>
        <textarea class="form-control" rows="3" name="text"></textarea>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="teacher" value="1">
            Lehrkräfte
          </label>
          <label>
            <input type="checkbox" name="researcher" value="1">
            Forscher
          </label>
          <label>
            <input type="checkbox" name="other" value="1">
            Sonstige
          </label>
        </div>
        <%= submit_tag 'Abschicken', :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>

    <table class="table">
      <thead>
      <th>
        ID
      </th>
      <th>
        Benutzer
      </th>
      <th>
        Name
      </th>
      <th>
        Kontotyp
      </th>
      <th>
        Schule/Institution
      </th>
      <th>
        Aktion
      </th>
      </thead>
      <tbody>
      <tr><td></td><td>Neue Nutzer</td></tr>
      <% @users.each do |user| %>
        <% if user.status == 1 %>
          <tr class="bg-success">
            <td>
              <%= user.id %>
            </td>
            <td>
              <%= link_to user.email, user_path(user) %>
            </td>
            <td>
              <%= user.name %>
            </td>
            <td>
              <%= user.account_type == 0 ? "Lehrkraft" : user.account_type == 1 ? "Forscher" : "Sonstiges (Privat/System/...)" %>
            </td>
            <td>
              <%= user.school %>
            </td>
            <td>
              <%= link_to edit_user_path(user) do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
              <% if user != @login_user %>
                <%= link_to user_path(user), :method => :delete, :data => {:confirm => "Sind Sie sicher?"} do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>

      <tr><td></td><td>Inaktive Nutzer</td></tr>
      <% @users.each do |user| %>
        <% if user.status == 2 %>
          <tr class="bg-warning">
            <td>
              <%= user.id %>
            </td>
            <td>
              <%= link_to user.email, user_path(user) %>
            </td>
            <td>
              <%= user.name %>
            </td>
            <td>
              <%= user.account_type == 0 ? "Lehrkraft" : user.account_type == 1 ? "Forscher" : "Sonstiges (Privat/System/...)" %>
            </td>
            <td>
              <%= user.school %>
            </td>
            <td>
              <%= link_to edit_user_path(user) do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
              <% if user != @login_user %>
                <%= link_to user_path(user), :method => :delete, :data => {:confirm => "Sind Sie sicher?"} do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>

      <tr><td></td><td>Gelöschte Nutzer</td></tr>
      <% @users.each do |user| %>
        <% if user.status == -1 %>
          <tr class="bg-danger">
            <td>
              <%= user.id %>
            </td>
            <td>
              <%= link_to user.email, user_path(user) %>
            </td>
            <td>
              -
            </td>
            <td>
              -
            </td>
            <td>
              -
            </td>
            <td>
              <%= link_to edit_user_path(user) do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
              <% if user != @login_user %>
                <%= link_to user_path(user), :method => :delete, :data => {:confirm => "Sind Sie sicher?"} do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>

      <tr><td></td><td>Normale Nutzer</td></tr>
      <% @users.each do |user| %>
        <% if user.status == 0 %>
          <tr>
            <td>
              <%= user.id %>
            </td>
            <td>
              <%= link_to user.email, user_path(user) %>
            </td>
            <td>
              <%= user.name %>
            </td>
            <td>
              <%= user.account_type == 0 ? "Lehrkraft" : user.account_type == 1 ? "Forscher" : "Sonstiges (Privat/System/...)" %>
            </td>
            <td>
              <%= user.school %>
            </td>
            <td>
              <%= link_to edit_user_path(user) do %>
                <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
              <% if user != @login_user %>
                <%= link_to user_path(user), :method => :delete, :data => {:confirm => "Sind Sie sicher?"} do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>

      </tbody>
    </table>
</div>
