<div class="well userCard" id="group">
  <%= link_to "Benutzer hinzufügen", new_user_path, class: 'btn btn-default' %>

  <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#compose" aria-expanded="false" aria-controls="compose">
    Nachricht an Benutzer
  </button>
  <div class="collapse" id="compose">
    <div class="well">
      <%= form_tag(user_path(@login_user), method: :put) do %>
        <textarea class="form-control" rows="3" name="text"></textarea>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="teacher" value="1">
            Lehrkräfte
          </label>
          <label>
            <input type="checkbox" name="researcher" value="1">
            Forscher
          </label>
          <label>
            <input type="checkbox" name="other" value="1">
            Sonstige
          </label>
        </div>
        <%= submit_tag 'Abschicken', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

    <table class="table">
      <thead>
      <th>
        ID
      </th>
      <th>
        Benutzer
      </th>
      <th>
        Name
      </th>
      <th>
        Kontotyp
      </th>
      <th>
        Schule/Institution
      </th>
      <th>
        Aktion
      </th>
      </thead>
      <tbody>
      <tr><td></td><td>Neue Nutzer</td></tr>
      <% @users.each do |user| %>
        <% if user.status == 1 %>
          <tr class="bg-success">
            <%= render 'user_row', user: user%>
          </tr>
        <% end %>
      <% end %>

      <tr><td></td><td>Inaktive Nutzer</td></tr>
      <% @users.each do |user| %>
        <% if user.status == 2 %>
          <tr class="bg-warning">
            <%= render 'user_row', user: user%>
          </tr>
        <% end %>
      <% end %>

      <tr><td></td><td>Gelöschte Nutzer</td></tr>
      <% @users.each do |user| %>
        <% if user.status == -1 %>
          <tr class="bg-danger">
            <%= render 'user_row', user: user%>
          </tr>
        <% end %>
      <% end %>

      <tr><td></td><td>Normale Nutzer</td></tr>
      <% @users.each do |user| %>
        <% if user.status == 0 %>
          <tr>
            <%= render 'user_row', user: user%>
          </tr>
        <% end %>
      <% end %>

      </tbody>
    </table>
</div>
