<div id="levumi" data='{"login": <%= @login.to_json %>, "states":<%= states_to_array.to_json %>, "schoolTypes": <%= schooltypes_to_array.to_json %>, "focusTypes": <%= focustypes_to_array.to_json %>, "accountTypes": <%= accounttypes_to_array.to_json %>}'>
  <users-app></users-app>
</div>