<script>
    //Eintrag in der Navleiste markieren
    highlightNavItem('navbarSystem');
</script>

<div class='container-fluid mt-3'>

  <!-- Tabs -->
  <ul class='nav nav-pills' id='user_tabs' role='tablist'>
    <li class='nav-item'>
      <a class='nav-link active' id='list-tab' data-toggle='tab' href='#list' role='tab' aria-controls='list' aria-selected='true'>Nutzerliste</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' id='new-tab' data-toggle='tab' href='#new' role='tab' aria-controls='new' aria-selected='false'>Neuen Nutzer anlegen</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' id='mail-tab' data-toggle='tab' href='#mail' role='tab' aria-controls='mail' aria-selected='false'>Nachricht an Nutzer</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' id='info-tab' data-toggle='tab' href='#info' role='tab' aria-controls='info' aria-selected='false'>Nutzungsstatistik</a>
    </li>
  </ul>

  <!-- Tabinhalte -->
  <div class='tab-content mt-3'>
    <div class='tab-pane active' id='list' role='tabpanel' aria-labelledby='list-tab'>
      <div id='list_content'>
        <!-- Nutzertabelle -->
        <%= render 'table' %>
      </div>
    </div>
    <div class='tab-pane' id='new' role='tabpanel' aria-labelledby='new-tab'>
      <div class='row'>
        <div class='col-4'>
          <div class='card card-body' id='new_content'>
            <!-- Nutzer anlegen-->
            <%= render 'users/form/form_create', user: User.new %>
          </div>
        </div>
      </div>
    </div>
    <div class='tab-pane' id='mail' role='tabpanel' aria-labelledby='mail-tab'>
      <!-- Nutzer benachrichtigen -->
      <div class='row'>
        <div class='col-4'>
          <div class='card card-body'>
            <%= form_tag(user_path(@login), method: :put, remote: true) do %>
              <div class='form-group'>
                <label>Nachricht</label>
                <textarea class="form-control" rows="3" name="text"></textarea>
              </div>
              <div class='form-group'>
                <label>Senden an alle</label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="teacher" value="1">
                    Lehrkräfte
                  </label>
                  <label>
                    <input type="checkbox" name="researcher" value="1">
                    Forscher:innen
                  </label>
                  <label>
                    <input type="checkbox" name="private" value="1">
                    Privatpersonen
                  </label>
                </div>
              </div>
              <%= submit_tag 'Abschicken', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class='tab-pane' id='info' role='tabpanel' aria-labelledby='info-tab'>
      <!-- Nutzungsstatistik -->
      <%= render 'statistics' %>
    </div>
  </div>

</div>
