<div class='container-fluid mt-3'>
  <h4>Nutzer gesamt</h4>
  <table class='table table-hover table-sm text-small'>
    <thead class='thead-light'>
    <tr>
      <th scope='col'></th>
      <th scope='col'>Lehrkraft</th>
      <th scope='col'>Forscher:in</th>
      <th scope='col'>Privatperson</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        Anzahl gesamt
      </td>
      <% @userinfo[:count].each do |i| %>
        <td>
          <%= i %>
        </td>
      <% end %>
    </tr>
    <tr>
      <td>
        In den letzten 30 Tagen aktiv
      </td>
      <% @userinfo[:active].each do |i| %>
        <td>
          <%= i %>
        </td>
      <% end %>
    </tr>
    <tr>
      <td>
        Mit echten Messungen (produktiv)
      </td>
      <td>
        <%= @userinfo[:productive][0] %>
      </td>
      <td>
        <%= @userinfo[:productive][1] %>
      </td>
      <td>
        -
      </td>
    </tr>
    <tr>
      <td>
        Anteil (nur produktiv)
      </td>
      <% @userinfo[:productive][0..1].each do |i| %>
        <td>
          <% if @userinfo[:productive].sum == 0 %>
            -
          <% else %>
            <%= (i / @userinfo[:productive].sum.to_f * 100).round(2)  %>%
          <% end %>
        </td>
      <% end %>
      <td>
        -
      </td>
    </tr>
    </tbody>
  </table>

  <h4>Produktive Nutzer nach Bundesland</h4>
  <table class='table table-hover table-sm text-small'>
    <thead class='thead-light'>
    <tr>
      <th scope='col'>Bundesland</th>
      <th scope='col'>Lehrkraft</th>
      <th scope='col'>Forscher:in</th>
    </thead>
    <tbody>
    <% federal_states.each do |s| %>
      <% next if @userinfo[:state][s[1]].nil? %>
      <tr>
        <td>
          <%= s[0] %>
        </td>
        <% @userinfo[:state][s[1]][0..1].each do |i| %>
          <td>
            <%= i %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <h4>Verwendung der Tests (nur produktive Lehrkräfte)</h4>
  <table class='table table-hover table-sm text-small'>
    <thead class='thead-light'>
    <tr>
      <th scope='col'>Test</th>
      <th scope='col'>Messungen gesamt</th>
      <th scope='col'>Anzahl Klassen</th>
      <th scope='col'>Anzahl Lernverläufe</th>
    </thead>
    <tbody>
    <% @testinfo.each do |k, v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v[:count] %></td>
        <td><%= v[:groups] %></td>
        <td><%= v[:progressions] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>