<div class="panel-group" role="tablist">
</div>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="hSimple">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#cSimple" aria-expanded="false" aria-controls="cSimple">
        Direkte Eingabemasken
        </a>
      </h4>
    </div>
    <div style="" aria-expanded="false" id="cSimple" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hSimple">
      <div class="panel-body">
        <%= form_tag(user_group_assessment_measurement_results_path(@user, @group, @assessment, @measurement), :method => :put, :html => {:class => "form-inline"}, :data => {:remote => true}) do %>
            <table class="table table-striped">
              <thead>
              <th>
                Schüler/-in
              </th>
              <th>
                Ergebnisse: Pro Item des Tests einer der Werte 1, 0 oder NA für "richtig", "falsch", bzw. "kein Ergebnis vorhanden". Werte durch Komma getrennt.)
              </th>
              </thead>
              <tbody>
              <% @measurement.results.each do |r| %>
                  <tr>
                    <td>
                      <%= "#{r.student.name}"  %>
                    </td>
                    <td>
                      <%= text_field_tag "results[#{r.student.id}]", r.to_csv(true), class: "form-control", placeholder: "z.B. 1,0,0,NA"%>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
            <%= submit_tag 'Speichern', :class => "btn btn-primary" %>
            <%= link_to "Zurück",  [@user, @group, @assessment], :data => {:remote => true}%>
        <% end %>
      </div>
    </div>
    </div>

    <% @measurement.results.each do |r| %>
        <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="h<%=r.id%>">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#c<%=r.id%>" aria-expanded="false" aria-controls="c<%=r.id%>">
              <%= "#{r.student.name}" %>
            </a>
          </h4>
        </div>
        <div id="c<%=r.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h<%=r.id%>">
          <div class="panel-body">
            <%= form_tag(user_group_assessment_measurement_results_path(@user, @group, @assessment, @measurement), :method => :put, class: "form", :data => {:remote => true}) do %>
                  <% index = 0 %>
                  <% r.items.each do |i| %>
                    <% tempItem = Item.find(i) %>
                    <% if tempItem.itemtype == 0 %>
                      <div class="form-group">
                        <p class="lead">
                          <%= tempItem.shorthand %>
                        </p>
                        <div class="radio">
                          <label>
                            <%= radio_button_tag "results[#{r.student.id}[#{i}]]", '1', r.responses[index] == 1 %>Richtig<br/>
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <%= radio_button_tag "results[#{r.student.id}[#{i}]]", '0', r.responses[index] == 0 %>Falsch<br/>
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <%= radio_button_tag "results[#{r.student.id}[#{i}]]", 'NA', r.responses[index] == nil %><i>Nicht bearbeitet</i><br/>
                          </label>
                        </div>
                      </div>
                      <br/>
                    <% end %>
                    <% index = index + 1 %>
                  <%end%>
                <%= submit_tag 'Speichern', :class => "btn btn-primary" %>
                <%= link_to "Zurück",  [@user, @group, @assessment], :data => {:remote => true}%>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="hAdd">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#cAdd" aria-expanded="false" aria-controls="cAdd">
        Schüler/-innen hinzufügen oder entfernen
        </a>
        </h4>
    </div>
    <div id="cAdd" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hAdd">
      <div class="panel-body">
        <%= form_tag(user_group_assessment_measurement_results_path(@user, @group, @assessment, @measurement), :method => :put, :html => {:class => "form"}, :data => {:remote => true}) do %>
            <label>Zur Zeit erfasst (Häkchen entfernen für Änderung):</label>
            <% if @measurement.students.empty? %>
                <p>--</p>
            <% end %>
            <% (@measurement.students).each do |s| %>
                <div class="checkbox">
                  <label>
                    <%= check_box_tag "results[students[#{s.name}]]", s.id, true %> <%= "#{s.name}" %><br/>
                  </label>
                </div>
            <% end %>
            <label>Noch nicht erfasst (Häkchen setzen für Änderung):</label>
            <% if (@group.students - @measurement.students).empty? %>
                <p>--</p>
            <% end %>
            <% (@group.students - @measurement.students).each do |s| %>
                <div class="checkbox">
                  <label>
                    <%= check_box_tag "results[students[#{s.name}]]", s.id, false %> <%= "#{s.name}}" %><br/>
                  </label>
                </div>
            <% end %>
            <%= submit_tag 'Speichern', :class => "btn btn-primary", :data => {:confirm => "Sind Sie sicher?"} %>
            <%= link_to "Zurück",  [@user, @group, @assessment], :data => {:remote => true}%>
        <% end %>
      </div>
    </div>
  </div>

</div>