<script>
    //Relevant für Lehrkraft-Ansicht - dort erscheint Name im Testfenster
    document.title = decodeURI(window.location.hash.replace('#',''))
</script>

<div id="error_message" class="alert alert-danger" role="alert" style="font-size: 1.25em; display: none">
  Verbindungsfehler! Ergebnisse konnten nicht gespeichert werden.
</div>

<!-- Test-Styles einbinden -->
<style>
  <% @test.style_files.each do |f| %>
  <%= raw f.download.force_encoding('UTF-8') %>
  <% end %>
</style>
<!-- Hauptseite rendern -->
<%= raw @test.entry_point.download.force_encoding('UTF-8') %>

<!-- Testskripte laden und Testumgebung definieren -->
<script type="module">
    // all variables and functions declared here that are part of the interface of the tests
    // need to be exposed in the global namespace. Otherwise, not all tests work, depending
    // on implementation.

    //Medienpfade für Test bekannt machen (aus ActiveStorage)
    var media_paths = {
        <% @test.media_files.each do |f| %>
        '<%= f.filename %>': '<%= rails_blob_path(f) %>',
        <% end %>
    }
    window.media_paths = media_paths

    //Vorheriges Ergebnis als Objekt
    <% unless @last_result.nil? %>
    const lastResult = {
        views: JSON.parse("<%= escape_javascript(raw @last_result.views.to_json) %>"),
        report: JSON.parse("<%= escape_javascript(raw @last_result.report.to_json) %>"),
        data: JSON.parse("<%= escape_javascript(raw @last_result.data.to_json) %>")
    }
    <% else %>
    const lastResult = undefined
    <% end %>
    window.lastResult = lastResult

    //Präferenzen des Kindes setzen
    const font_family = '<%= @student.get_setting("font_family") %>'.replace('%20', ' ')
    window.font_family = font_family

    const font_size = <%= @student.get_setting("font_size") %>
    window.font_size = font_size

    function preventNavigation(navEvent) {
        // Cancel the event as stated by the standard.
        navEvent.preventDefault();
        // Chrome requires returnValue to be set.
        navEvent.returnValue = '';
    }

    //Funktionen für Testumgebung bereitstellen
    function saveResults(views, report, data, callback) {
        let url = '<%= student_results_url(@student)%>'
        let header = {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        }
        let body = 'assessment_id=<%= @assessment %>&views=' + encodeURIComponent(JSON.stringify(views)) + '&report=' + encodeURIComponent(JSON.stringify(report)) + '&data=' + encodeURIComponent(JSON.stringify(data))
        fetch(url, {
            method: 'POST',
            headers: header,
            credentials: 'include',
            body: body
        })
            .then(function(response){
                if(!response.ok)
                    throw Error(response.statusText)
            })
            .then(data => callback())
            .catch(error => {
                //Bei Fehler versuche die Daten nochmal abzuspeichern
                fetch(url, {
                    method: 'PUT',
                    headers: header,
                    credentials: 'include',
                    body: body
                })
                    .then(function(response){
                        if(!response.ok)
                            throw Error(response.statusText)
                    })
                    .then(data => callback())
                    .catch(error => {
                        //Zweimal erfolglos => Fehlermeldung anzeigen
                        $('#error_message').show()
                    })
            })
        // Once the results have been saved we assume it is safe to allow navigation again
        // This is also a measure to make sure that the event listener is removed, even when exit() is not called
        window.removeEventListener('beforeunload', preventNavigation, true);
    }
    window.saveResults = saveResults

    //Testfenster schließen
    function exit() {
        window.location.href = '<%= @redirect %>'
        window.removeEventListener('beforeunload', preventNavigation, true);
    }
    window.exit = exit

    //Hilfsfunktionen

    //Zeitmessen
    var stopwatch = null

    function startTimer() {
        stopwatch = new Date()
    }
    window.startTimer = startTimer

    function stopTimer() {
        return (new Date() - stopwatch)
    }
    window.stopTimer = stopTimer

    //zufälliges Umsortieren
    function shuffleArray(array) {
       let j = undefined
        for (let i = array.length - 1; i > 0; --i) {
            j = Math.floor(Math.random() * (i + 1)); //Hier nötig, da ansonsten [ in der nächsten Zeile als Array-Zugriff interpretiert wird...
            [array[i], array[j]] = [array[j], array[i]]
        }
    }


    //Test-Skripte einbinden
    <% @test.script_files.each do |f| %>
    <%= raw f.download.force_encoding('UTF-8') %>
    <% end %>

    //FIXME these functions are declared in various test.js files, and referenced in click handlers in the corresponding test.html files
    //FIXME ideally, the click handlers should be attached with $('el').on('click', someFunction) in the test.js.
    //FIXME once this is done, these assignments need to be removed.
    //FIXME try/catch is necessary to suppress errors for tests that don't implement the functions

    // auslautverhaertung_n4
    try { window.next = next } catch(e) { }
    try { window.fill_gap = fill_gap } catch(e) { }
    try { window.dk_function = dk_function } catch(e) { }
    try { window.start = start } catch(e) { }
    try { window.save_answer = save_answer } catch(e) { }
    try { window.start_example = start_example } catch(e) { }


    //Anzeigen des Feedbacks
    //Erhält zum einen, wie das Ergebnis aufgefasst wird (-1(schlechter), 0(gleich/erstes mal), 1(besser))
    function showFeedback(result, timedout) {
        $('#testspace').html(
            "<div style='text-align: center'>" +
            "<img id='pic' style='width: 300px'/>" +
            "<p style=\"font-family: 'serif'; font-size:1.5em; margin-top: 10%\" id='feedback_text' class='text-center'></p>" +
            "</div>"
        )
        if (result == 0) {

            $('#pic').attr('src', '<%= asset_path '/images/shared/Levumi-normal.jpg' %>')
        } else if (result == 1) {
            $('#pic').attr('src', '<%= asset_path '/images/shared/Levumi-jubelt.gif' %>')
        } else {
            $('#pic').attr('src', '<%= asset_path '/images/shared/Levumi-liest.gif' %>')
        } if (timedout) {
            $('#feedback_text').html('Zeit abgelaufen.<br/>Die Testergebnisse wurden gespeichert!<br/>Sie können das Testfenster' +
                ' nun schließen.<br/><br/><button class="btn btn-warning btn-lg exit-button">Fenster schließen!</button>')
                .css('margin-top','0%')
        } else {
            $('#feedback_text').html('Alle Items beantwortet.<br/>Die Testergebnisse wurden gespeichert!<br/>Sie können' +
                ' das Testfenster nun schließen.<br/><br/><button class="btn btn-warning btn-lg exit-button">Fenster schließen!</button>')
                .css('margin-top','0%')
        }

        $(".exit-button").on("click", exit)
    }
    window.showFeedback = showFeedback

    <%if @test.student_test%>
      //Backspace als "Zurück" verhindern
      // should be obsolete, as even Firefox no longer navigates with backspace
      //window.location.hash = 'no-back-button'
      //window.location.hash = 'Again-No-back-button'
      //window.onhashchange = function() { window.location.hash = 'no-back-button' }

      // interrupt attempts to navigate away
      window.addEventListener('beforeunload', preventNavigation, true)
      document.title = "<%= @test.level %>"
    <%end%>
</script>