<nav class="navbar">
  <p class="navbar-brand"><%= "Klasse #{@measurement.assessment.group.name}: Schüler: #{@student.login}: #{@measurement.assessment.test.short_name} bis zum #{@measurement.date.to_date.strftime("%d.%m.%Y")}" %></p>
  <p class="navbar-brand" id="state"></p>
</nav>

<div id="testEnviroment">
</div>
<div id="myProgress" style="width: 100%;height: 90px; background-color: #dddd" >
  <div id="myBar" style="width: 0%; background-color: #4cae4c; height: 90px"></div>
</div>

<script>
    //possible Hack
    //setting anchor to page. Jump to anchor when backspace pressed
    window.location.hash="no-back-button";
    window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
    window.onhashchange=function(){window.location.hash="no-back-button";};

    var pathMainPage = '<%= request.base_url + url_for(controller: 'frontend')%>';
    var currentItemIndex = -1;
    var currentStudent = -1;
    currentStudent = <%=@result.id%>;



    var studentData = {
        <%=@result.id%>: [
        <%@result.extra_data["intro"].each do |i|%>
        <%=i%>,
        <%end%>
        <%@result.items.each do |i| %>
        <%= i %>,
        <% end %>
        <%@result.extra_data["outro"].each do |i|%>
        <%=i%>,
        <%end%>
    ]};
</script>