<nav class="navbar">
  <p class="navbar-brand"><%= "Klasse #{@student.group.name}: Schüler: #{@student.name}: Tasterturschulung" %></p><audio id="itemAudio"></audio>
</nav>
<!-- Textcontent on page-->
<div id="text">
    <p style="font-family: 'fibel_nordregular';font-size:96px" id="itemText" class="text-center">
      Test
    </p>
  </div>
<!-- Loading bar for the audiodata-->
<div id="myProgress" style="width: 100%;height: 90px; background-color: #dddd" >
  <div id="myBar" style="width: 0%; background-color: #4cae4c; height: 90px"></div>
</div>
<div align="center" >
    <img style="width: 650px; margin-left: 12%" id="bigPic" src=""/>
    <img style="width: 150px;" id="picHeadphone"  src="/assets/headphones.png"/>
    <br/>
    <img style="width: 150px;" id="picKeyboard" src="/assets/tastertur.png"/>
    <br/>
  </div>
<div align="center">
  <p align="center" style="font-family: 'fibel_nordregular'; font-size:106px" id="testWord"></p>
</div>
<br/>
<br/>
<!-- input area-->
  <table id="testField" align="center">
    <tr>
      <th><p style="font-family: 'fibel_nordregular'; font-size:96px" id="firstPart" type="text ">s</th>
      <th><input style="font-family: 'fibel_nordregular'; padding-bottom: 10px; line-height: 50px; width: 50px;  font-size:96px" id="itemAnswer1" type="text" class="text-center" maxlength="1" size="1"/></th>
      <th><p style="font-family: 'fibel_nordregular'; font-size:96px" id="secondPart" type="text" />d</th>
    </tr>
  </table>
<br/>
<br/>
<br/>
<!-- Shows current "special" keyboard controll options-->
  <div align="center"  id="footerID">
    <footer>
      <table id="testField" align="center">
        <tr>
          <th><div style="font-family: 'fibel_nordregular';font-size:60px" id="repeat">Nochmal anhören: <span><img style="width: 50px" src='/assets/Tastatur_PfeilLinks.png'/></span> /&nbsp;&nbsp;</div><th>
          <th><div style="font-family: 'fibel_nordregular';font-size:60px" id="forward">Weiter: <span><img style="width: 50px" src='/assets/Tastatur_EingabetasteAlleine.png'/></span></div><th>
      </table>
    </footer>
  </div>
<!-- Needed for hack, url_for not possible in script area-->
<div>
  <%= link_to url_for(controller: 'frontend') do%><button id="closeButton"></button><% end %>
</div>


<script>
  $('#closeButton').hide();
  /*Keyboard controll on diffrent pages + compare input*/
    $(window).keyup(function(event) {
        if(event.keyCode == 37) {
            repeatSound();Garten
        }
        else if(lastPage) {
            if(event.keyCode == 13) {
                $(window).unbind('keyup');
                $('#closeButton').click();
            }
        }
        else if((!preparation)&&introRdy) {
            introRdy = false;
            nextItem();
        }
        else if((!introRdy)&&levumiExplains) {
            if(currentItemIndex == 5) {
                if(event.keyCode == 0||event.keyCode == 186||event.keyCode == 192||event.keyCode == 222) {
                    nextItem();
                }
            }
            else if(currentItemIndex == 7) {
                if(event.keyCode == 13) {
                    if($('#itemAnswer1').val() == "ä") {
                        nextItem();
                    }
                }
            }
            else if(currentItemIndex == 8) {
                if(event.keyCode == 13) {
                    if($('#itemAnswer1').val() == "ö") {
                        nextItem();
                    }
                }
            }
            else if(currentItemIndex == 9) {
                if(event.keyCode == 13) {
                    if($('#itemAnswer1').val() == "ü") {
                        nextItem();
                    }
                }
            }
            else if(currentItemIndex == 10) {
                if(event.keyCode == 8) {
                    nextItem();
                }
            }
            else if(currentItemIndex == 11) {
                if(event.keyCode == 13) {
                    if($('#itemAnswer1').val() == "") {
                        nextItem();
                    }
                }
            }
            else if(currentItemIndex == 12) {
                if(event.keyCode == 63) {
                    nextItem();
                }
            }
            else if(currentItemIndex == 15 ||currentItemIndex == 13||currentItemIndex == 14) {
                if(event.keyCode == 13) {
                    if($('#itemAnswer1').val() == "ß") {
                        nextItem();
                    }
                }
            }
            else if(currentItemIndex == 17) {
                if(event.keyCode == 13) {
                    if($('#itemAnswer1').val() == "H") {
                        nextItem();
                    }
                }
            }
            else if(currentItemIndex == 18) {
                if(event.keyCode == 13) {
                    if($('#itemAnswer1').val() == "G") {
                        nextItem();
                    }
                }
            }
            else if(currentItemIndex == 19) {
                if(event.keyCode == 13) {
                    if($('#itemAnswer1').val() == "S") {
                        nextItem();
                    }
                }
            }
            else if(currentItemIndex == 22) {
                if(event.keyCode == 13) {
                    if($('#itemAnswer1').val() == "Garten") {
                        nextItem();
                    }
                }
            }
            else if(currentItemIndex == 23) {
                if(event.keyCode == 13) {
                    if($('#itemAnswer1').val() == "Apfelbäume") {
                        nextItem();
                    }
                }
            }
            else if(currentItemIndex == 24) {
                if(event.keyCode == 13) {
                    if($('#itemAnswer1').val() == "Quittenbäume") {
                        nextItem();
                    }
                }
            }
            else {
                if(event.keyCode == 13) {
                    nextItem();
                }
            }
        }
    });
  /*Turn off keyboard-arrows in input field */
  $('#itemAnswer1').keydown(function(e){
      var key = e.charCode || e.keyCode;
      if (key == 37||key == 38||key == 39||key == 40||key == 32||key ==27) {
          e.preventDefault();
      }
      else {

      }
  });
  /*Initialization of variable*/
  var preparation = true;
  var introRdy = true;
  var levumiExplains = true;
  var testSize = 96;
  var lastPage = false;
  var neededPic = '<img style="float: right; width: 300px "src="/assets/Levumi-jubelt.gif"/>';
  var currentItemIndex = -1;

  /*Array of all texts*/
  var itemData =
      [   "„Hallo ich bin Levumi. Ich möchte heute mit dir üben, auf der Tastatur von einem Computer zu schreiben. "+
          "Bitte höre mir ganz genau zu, damit du weisst, was du tun sollst. "+
          "Bitte drücke jetzt irgendeine Taste auf der Tastatur, damit wir beginnen können.“",//0
          "„Um zur nächsten Aufgabe zu kommen, drücke die Eingabetaste. Auf dem Bild siehst du, wo sie zu finden ist. Probiere sie jetzt aus.“",//1
          "„Hier siehst du auf dem Bild einen Kopfhörer. Immer, wenn du den Kopfhörer siehst, musst du gut zuhören, damit du genau weißt, was du tun sollst. “",//2
          "„Das Bild mit der Tastatur zeigt dir, wann du etwas mit der Tastatur eingeben sollst.“",//3
          "„Wenn ich dir den Satz noch einmal vorlesen soll, drücke die linke Pfeiltaste. Auf dem Bild siehst du, dass sich diese Taste unten rechts befindet!“",//4 hab ich
          "„ä, ü, ö sind Umlaute, bestimmt kennst du diese Buchstaben. Auf der Tastatur findest du sie " +
          "auf der rechten Seite. Auf dem Bild siehst du, wo du die Buchstaben auf der Tastatur sind."+
          "Bitte drücke jetzt das ä, ü oder ö.“",//5 hab ich
          "„In den folgenden Wörtern fehlen die Umlaute. Kannst du mir bitte helfen, diese wieder einzufügen? Bitte ergänze jetzt für mich die fehlenden Umlaute.“",//6 hab ich
          "„Bitte ergänze jetzt für mich die fehlenden Umlaute.“",//7 hab ich
          "„Bitte ergänze jetzt für mich die fehlenden Umlaute.“",//8 hab ich
          "„Bitte ergänze jetzt für mich die fehlenden Umlaute.“",//9 hab ich
          "„Bestimmt hast du schon einmal an einem Computer etwas geschrieben, das du wieder löschen wolltest. Dafür benutzt man die Löschtaste. Auf dem Bild kannst du erkennen, wo du " +
          "die Taste findest. Bitte drücke jetzt die Löschtaste auf der Tastatur.“",//10 hab ich
          "„Jetzt brauche ich deine Hilfe. Ich habe einen Satz geschrieben und möchte diesen wieder löschen. Bitte benutze die Löschtaste und lösche alle Buchstaben für mich.“",//11 hab ich
          "„Nun geht es um einen Buchstaben, den es nur im Deutschen gibt, das ß. Es hat sich oben rechts versteckt. Drücke bitte die Taste für das ß auf der Tastatur“",//12 hab ich
          "„Bitte ergänze jetzt das fehlende ß in den Wörtern.“",//13
          "„Bitte ergänze jetzt das fehlende ß in den Wörtern.“",//14
          "„Bitte ergänze jetzt das fehlende ß in den Wörtern.“",//15
          "„Um ein Wort großzuschreiben, muss man zwei Tasten gleichzeitig drücken: Den Pfeil, der nach oben zeigt, " +
          "ganz links auf der Tastatur und eine Buchstabentaste. Am besten benutzt du dafür deine beiden Zeigefinger.“",//16 hab ich
          "„Bitte ergänze in den folgenden Wörtern die Großbuchstaben.“",//17
          "„Bitte ergänze in den folgenden Wörtern die Großbuchstaben.“",//18
          "„Bitte ergänze in den folgenden Wörtern die Großbuchstaben.“",//19
          "„Danke, dass du so gut mitmachst!“",//20 hab ich
          "„Jetzt hast du schon gut geübt, auf der Tastatur zu " +
          "schreiben. Nun lese ich dir einen Satz vor. Die Wörter, die du schreiben sollst, sind gelb " +
          "makiert. Wenn du das Wort geschrieben hast, drücke die Eingabetaste, damit du zum nächsten Wort gelangst.“",//21 hab ich
          "„Im Garten sind große Apfelbäume und Quittenbäume.“",//22 hab ich
          "„Im Garten sind große Apfelbäume und Quittenbäume.“",//23 hab ich
          "„Im Garten sind große Apfelbäume und Quittenbäume.“",//24 hab ich
          "„Super, du hast es geschafft! Das hast du toll gemacht! Zum Beenden des Testes drücke bitte die Eingabetaste.“"];//25 hab ich
  /*Array of all sounds*/
  var itemDataSound =["/assets/Anweisungen/1_Hallo_ich_bin_Levumi.mp3", //hab ich
      "/assets/Anweisungen/1_Eingabetaste.mp3",//hab ich
      "/assets/Anweisungen/2_Kopfhörer.mp3",//hab ich
      "/assets/Anweisungen/3_Tastatur.mp3",//hab ich
      "/assets/Anweisungen/6_Wiederholen.mp3",//hab ich
      "/assets/Anweisungen/5_Umlaute1Und2Und3.mp3", //ghab ich
      "/assets/Anweisungen/6_Umlaute3.mp3", //hab ich
      "/assets/Anweisungen/6_Umlaute4.mp3", //nur aufgabenstellung
      "/assets/Anweisungen/7_Löschtaste.mp3",//hab ich
      "/assets/Anweisungen/12_Löschaufgabe.mp3", //hab ich
      "/assets/Anweisungen/9_ß.mp3",//hab ich
      "/assets/Anweisungen/13_ß2.mp3", //nur aufgabenstellung
      "/assets/Anweisungen/11_Großschreibung.mp3",//hab ich
      "/assets/Anweisungen/12_Großschreibung2.mp3",
      "/assets/Anweisungen/13_AbtippaufgabeDanke.mp3",//hab ich
      "/assets/Anweisungen/8_Abtippaufgabe.mp3",//hab ich
      "/assets/Anweisungen/13_AbtippaufgabeSatz.mp3", //hab ich
      "/assets/Anweisungen/14_Super_geschafft.mp3"//hab ich
  ];
  /*Look for test*/
  function intro() {
      $('#myProgress').hide();
      preparation = false;
      testSize = parseInt($('#itemText').css('font-size'));
      $('#itemText').css('font-size', 60);
      nextItem();
  }
  /*Changes current content of Html-elements based on currentItemIndex*/
  function nextItem() {
      currentItemIndex++;
      if(currentItemIndex<itemData.length) {
          switch (currentItemIndex) {
              case 0:
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  var fileName = itemDataSound[0];
                  $("#itemAudio").attr("src",fileName).trigger('play');
                  break;
              case 1:
                  $('#bigPic').attr('src', '/assets/Tastatur_Eingabetaste.png').show();
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  var fileName = itemDataSound[1];
                  $("#itemAudio").attr("src",fileName).trigger('play');
                  break;
              case 2:
                  $('#picHeadphone').show();
                  $('#bigPic').hide();
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  var fileName = itemDataSound[2];
                  $("#itemAudio").attr("src",fileName).trigger('play');
                  break;
              case 3:
                  $('#picHeadphone').hide();
                  $('#picKeyboard').show();
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  var fileName = itemDataSound[3];
                  $("#itemAudio").attr("src",fileName).trigger('play');
                  break;
              case 4:
                  $('#picHeadphone').attr('align', 'left');
                  $('#picKeyboard').attr('align', 'left');
                  $('#bigPic').attr('src', '/assets/Tastatur_Pfeil.png').show();
                  $('#picKeyboard').hide();
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  var fileName = itemDataSound[4];
                  $("#itemAudio").attr("src",fileName).trigger('play');
                  break;
              case 5:
                  $('#bigPic').attr('src', '/assets/Tastatur_Umlaute.png');
                  $('#picKeyboard').hide();
                  $('#forward').html("Weiter: ä, ü, ö");
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  var fileName = itemDataSound[5];
                  $("#itemAudio").attr("src",fileName).trigger('play');
                  break;
              case 6:
                  $('#forward').html('Weiter: <span><img style="width: 50px" src="/assets/Tastatur_EingabetasteAlleine.png"/></span>');
                  $('#bigPic').hide();
                  $('#picHeadphone').show();
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  var fileName = itemDataSound[6];
                  $("#itemAudio").attr("src",fileName).trigger('play');
                  break;
              case 7:
                  var fileName = itemDataSound[7];
                  $("#itemAudio").attr("src",fileName);
                  $('#testField').show();
                  $('#picKeyboard').show();
                  $('#testWord').show();
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  $('#testWord').html("B"+ "<span style='background-color:#FFFF00'>ä</span>" + "ume");
                  $('#firstPart').html("B");
                  $('#itemAnswer1').val('').focus();
                  $('#secondPart').html("ume");
                  break;
              case 8:
                  var fileName = itemDataSound[7];
                  $("#itemAudio").attr("src",fileName);
                  $('#testWord').html("Schl"+ "<span style='background-color:#FFFF00'>ö</span>" + "sser");
                  $('#firstPart').html("Schl");
                  $('#itemAnswer1').val('');
                  $('#secondPart').html("sser");
                  break;
              case 9:
                  var fileName = itemDataSound[7];
                  $("#itemAudio").attr("src",fileName);
                  $('#testWord').html("s"+ "<span style='background-color:#FFFF00'>ü</span>" + "ß");
                  $('#firstPart').html("s");
                  $('#itemAnswer1').val('');
                  $('#secondPart').html("ß");
                  break;
              case 10:
                  $('#testWord').hide();
                  $('#testField').hide();
                  $('#picKeyboard').hide();
                  $('#picHeadphone').hide();
                  $('#forward').html("Weiter: Löschtaste");
                  $('#bigPic').attr('src', '/assets/Tastatur_Backspace.png').show();
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  var fileName = itemDataSound[8];
                  $("#itemAudio").attr("src",fileName).trigger('play');
                  break;
              case 11:
                  $('#forward').html('Weiter: <span><img style="width: 50px" src="/assets/Tastatur_EingabetasteAlleine.png"/></span>');
                  $('#testField').show();
                  $('#bigPic').hide();
                  $('#picKeyboard').show();
                  $('#picHeadphone').show();
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  $('#firstPart').hide();
                  $('#secondPart').hide();
                  $('#itemAnswer1').attr('maxlength', '28').attr('size','28').val('Bitte lösche alle Buchstaben').css('width', '100%');
                  var fileName = itemDataSound[9];
                  $("#itemAudio").attr("src",fileName).trigger('play');
                  break;
              case 12:
                  $('#testField').hide();
                  $('#picKeyboard').hide();
                  $('#picHeadphone').hide();
                  $('#itemAnswer1').css('width', '50px');
                  $('#forward').html("Weiter: ß");
                  $('#bigPic').attr('src', '/assets/Tastatur_ß.png').show();
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  var fileName = itemDataSound[10];
                  $("#itemAudio").attr("src",fileName).trigger('play');
                  break;
              case 13:
                  $('#forward').html('Weiter: <span><img style="width: 50px" src="/assets/Tastatur_EingabetasteAlleine.png"/></span>');
                  $('#testField').show();
                  $('#firstPart').show();
                  $('#picKeyboard').show();
                  $('#picHeadphone').show();
                  $('#testWord').show();
                  $('#bigPic').hide();
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  $('#testWord').html("Spa"+ "<span style='background-color:#FFFF00'>ß</span>");
                  $('#firstPart').html("Spa");
                  $('#itemAnswer1').attr('maxlength', '1').attr('size','1').val('');
                  var fileName = itemDataSound[11];
                  $("#itemAudio").attr("src",fileName).trigger('play');
                  break;
              case 14:
                  var fileName = itemDataSound[11];
                  $("#itemAudio").attr("src",fileName);
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  $('#testWord').html("sü"+ "<span style='background-color:#FFFF00'>ß</span>");
                  $('#firstPart').html("sü");
                  $('#itemAnswer1').val('');
                  break;
              case 15:
                  var fileName = itemDataSound[11];
                  $("#itemAudio").attr("src",fileName);
                  $('#testWord').html("Fu"+ "<span style='background-color:#FFFF00'>ß</span>");
                  $('#firstPart').html("Fu");
                  $('#itemAnswer1').val('');
                  break;
              case 16:
                  $('#testWord').hide();
                  $('#testField').hide();
                  $('#picKeyboard').hide();
                  $('#picHeadphone').hide();
                  $('#bigPic').attr('src', '/assets/Tastatur_Großschreiben.png').show();
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  var fileName = itemDataSound[12];
                  $("#itemAudio").attr("src",fileName).trigger('play');
                  break;
              case 17:
                  $('#testField').show();
                  $('#bigPic').hide();
                  $('#firstPart').hide();
                  $('#secondPart').show();
                  $('#picKeyboard').show();
                  $('#picHeadphone').show();
                  $('#testWord').show();
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  $('#itemAnswer1').attr('maxlength', '1').attr('size','1').val('');
                  $('#testWord').html("<span style='background-color:#FFFF00'>H</span>"+ "aus");
                  $('#secondPart').html("aus");
                  var fileName = itemDataSound[13];
                  $("#itemAudio").attr("src",fileName).trigger('play');
                  break;
              case 18:
                  var fileName = itemDataSound[13];
                  $("#itemAudio").attr("src",fileName);
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  $('#testWord').html("<span style='background-color:#FFFF00'>G</span>" + "arten");
                  $('#itemAnswer1').val('');
                  $('#secondPart').html("arten");
                  break;
              case 19:
                  var fileName = itemDataSound[13];
                  $("#itemAudio").attr("src",fileName);
                  $('#testWord').html("<span style='background-color:#FFFF00'>S</span>" + "onne");
                  $('#itemAnswer1').val('');
                  $('#secondPart').html("onne");
                  break;
              case 20:
                  $('#testWord').hide();
                  $('#testField').hide();
                  $('#picKeyboard').hide();
                  $('#picHeadphone').attr('src', '/assets/headphones.png').width(150);
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  var fileName = itemDataSound[14];
                  $("#itemAudio").attr("src",fileName).trigger('play');
                  break;
              case 21:
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  var fileName = itemDataSound[15];
                  $("#itemAudio").attr("src",fileName).trigger('play');
                  break;
              case 22:
                  $('#testField').show();
                  $('#secondPart').hide();
                  $('#picKeyboard').show();
                  $('#itemAnswer1').css('width', '100%');
                  $('#itemText').html(itemData[currentItemIndex].replace("Garten", "<span style='background-color:#FFFF00'>Garten</span>")).append(neededPic);
                  $('#itemAnswer1').attr('maxlength', '16').attr('size','16').val('');
                  var fileName = itemDataSound[16];
                  $("#itemAudio").attr("src",fileName).trigger('play');
                  break;
              case 23:
                  $('#itemText').html(itemData[currentItemIndex].replace("Apfelbäume", "<span style='background-color:#FFFF00'>Apfelbäume</span>")).append(neededPic);
                  $('#itemAnswer1').val('');
                  $("#itemAudio").trigger('play');
                  break;
              case 24:
                  $('#itemText').html(itemData[currentItemIndex].replace("Quittenbäume", "<span style='background-color:#FFFF00'>Quittenbäume</span>")).append(neededPic);
                  $('#itemAnswer1').val('');
                  $("#itemAudio").trigger('play');
                  break;
              case 25:
                  $('#testField').hide();
                  $('#picKeyboard').hide();
                  $('#itemText').html(itemData[currentItemIndex]).append(neededPic);
                  var fileName = itemDataSound[17];
                  $("#itemAudio").attr("src",fileName).trigger('play');
                  lastPage=true;
                  stopTest();
                  break;
          }
      }
      else {
          stopTest();
      }

  }

  /*Stop test, when all items are asked*/
  function stopTest() {
      $('#picHeadphone').hide();
      $('#picKeyboard').hide();
      var currentResult = "1,";
      var currentStudent = <%=@result.id%>;
      var dict = {};
      dict["authenticty_token"] = "<%= Rails.configuration.secret_token%>";
      dict["results"] = currentStudent + "#" + currentResult.substr(0, currentResult.length-1);
      //send data
      $.ajax({
          type: "PUT",
          url: "<%= user_group_assessment_measurement_results_path(@student.group.user, @student.group, @measurement.assessment, @measurement)%>",
          data: dict
      });
  }

  //play current audio again
  function repeatSound() {
      var h = document.getElementById("itemAudio");
      h.pause();
      h.currentTime = 0;
      h.play();
  }

  /*Adjust look of input field and starting page*/
  $('#testField').hide();
  $('#itemAnswer1').css('border','0px').css('border-bottom', 'black solid 1px');
  $('#itemText').css('font_size', 90).html('Daten werden vorbereitet');
  $('#picHeadphone').hide();
  $('#picKeyboard').hide();
  $('#bigPic').hide();
  /*preload all audiodata*/
  for (var i in itemDataSound) {
      preloadAudio(itemDataSound[i]);

  }
  function preloadAudio(url) {
      var audio = new Audio();
      // once this file loads, it will call loadedAudio()
      // the file will be kept by the browser as cache
      audio.addEventListener('canplaythrough', loadedAudio, false);
      audio.src = url;
  }
  var progress = 0;
  var loaded = 0;
  function loadedAudio() {
      // this will be called every time an audio file is loaded
      // we keep track of the loaded files vs the requested files

      loaded++;
      progress = ((loaded *100) / itemDataSound.length);
      var elem = document.getElementById("myBar");
      elem.style.width = progress +'%';
      if (loaded == itemDataSound.length){
          // all have loaded do something
          intro();

      }
  }

</script>