<style>
    @media print
    {
        h4 {page-break-before:always}
    }
</style>

<div class="container-fluid">
  <div id="content">
      <h1><%= "Klasse #{@measurement.assessment.group.name}: #{@measurement.assessment.test.short_name} am #{@measurement.date.to_date.strftime("%d.%m.%Y")}" %></h1>
    <% if !@measurement.assessment.test.time.nil?%>
        <h3><%= "Zeit pro Schüler/-in: #{@measurement.assessment.test.time} Sekunden" %></h3>
    <%end%>
      <% @measurement.results.each do |r| %>
        <h4><div id="<%=r.student_id%>"></div></h4>
        <% items = []%>
        <% r.items.each do |i| %>
            <%tempItem = Item.find(i)%>
            <% if(tempItem.itemtype == 0) %>
                <%items = items + [tempItem.itemtext]%>
            <%end%>
        <%end%>
          <table style="font-family: 'fibel_nordregular'; font-size:48px" class="table table-bordered">
            <% index = 0 %>
            <% (items.count / 5 + 1).times do %>
                <tr>
                  <% 5.times do %>
                      <td>
                          <% if index < items.count %>
                          <%= items[index]%>
                           <% end %>
                          <% index = index + 1 %>
                      </td>
                <% end %>
                </tr>
            <% end %>
          </table>
    <% end %>
  </div>
</div>

<script>
    $(document).ready(function() {
        window.print();
    });

    var studentsCrypt = JSON.parse(sessionStorage['students']);
    if("<%=@group.id%>" in studentsCrypt){
        Object.keys(studentsCrypt["<%=@group.id%>"]).forEach(function(keyStudent) {
            $('#'+ keyStudent).html(studentsCrypt["<%=@group.id%>"][keyStudent])
        });
    }
</script>