<nav class="navbar">
  <p class="navbar-brand"><%= "Klasse #{@measurement.assessment.group.name}: #{@measurement.assessment.test.name} am #{@measurement.date.to_date.strftime("%d.%m.%Y")}" %></p>
</nav>

<div class="container-fluid">
  <div id="content">

    <div class="row">
      <div class="col-lg-12">
        <p class="lead">Die Zeit von <%= @measurement.assessment.test.time %> Sekunden läuft 1 Sekunde nach Klick auf Namen los!</p>
      </div>
    </div>

    <div class="row">
      <% @measurement.results.each do |r| %>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="btn btn-default groupButton" id="btn<%=r.id%>" onclick="startTest(<%=r.id%>)">
              <%= r.student.fullName %>
            </div>
          </div>
      <% end %>
    </div>

    <div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalHeader">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="mainModalHeader"></h4>
          </div>
          <div class="modal-body" id="modalBody">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
              <p style="font-family: 'fibel_nordregular'; font-size:96px" id="itemText" class="text-center">
                Itemtext
              </p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
          </div>
          <div class="modal-footer" style="text-align: center">
            <button id="cButton" type="button" class="btn btn-success btn-lg disabled" onclick="correct()">Richtig (Taste: 1)</button>
            <button id="sButton" type="button" class="btn btn-default disabled" onclick="save()">Speichern</button>
            <button id="iButton" type="button" class="btn btn-danger btn-lg disabled" onclick="incorrect()">Falsch (Taste: 0)</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <button id="iButton" type="button" class="btn btn-block" onclick="window.close()">Messung beenden</button>
      </div>
    </div>

  </div>
</div>



<script>

    $(window).keydown(function(event) {
        switch (event.keyCode) {
            case 49, 97:
                correct();
                break;
            case 48, 96:
                incorrect();
                break;

        }
    });

    var currentStudent = -1;
    var currentItemIndex = -1;
    var currentResult = "";

    var itemData = {
        <% @measurement.assessment.test.items.each do |i| %>
         <%= i.id%>: "<%= i.itemtext%>",
        <% end %>
    };

    var students = {
        <% @measurement.results.each do |r| %>
            <%= r.id%>: "<%= r.student.name%>, <%= r.student.firstname%>",
        <% end %>
    };

    var studentData = {
        <% @measurement.results.each do |r| %>
            <%= r.id%>: [
                  <% r.items.each do |i| %>
                  <%= i %>,
                  <% end %>
            ],
        <% end %>
    };

    function setButtons(enabled) {
      if (enabled) {
          $('#cButton').removeClass("disabled");
          $('#cButton').addClass("btn-success");
          $('#iButton').removeClass("disabled");
          $('#iButton').addClass("btn-danger");
          $('#sButton').addClass("disabled");
          $('#sButton').removeClass("btn-primary");
      }
      else {
          $('#cButton').addClass("disabled");
          $('#cButton').removeClass("btn-success");
          $('#iButton').addClass("disabled");
          $('#iButton').removeClass("btn-danger");
          $('#sButton').removeClass("disabled");
          $('#sButton').addClass("btn-primary");
      }
    }

    function nextItem() {
      currentItemIndex++;
      if (currentItemIndex < studentData[currentStudent].length)
        $('#itemText').html(itemData[studentData[currentStudent][currentItemIndex]]);
      else
        stopTest();
    }

    function startTest(student) {
      currentStudent = student;
      $('#mainModalHeader').html(students[student]);
      setButtons(true);
      currentItemIndex = -1;
      nextItem();
      currentResult = "";
      window.setTimeout(stopTest, <%= @measurement.assessment.test.time*1000 %> + 1000);
      $('#mainModal').modal('show');
    }

    function stopTest() {
        $('#itemText').html("Test beendet. Bitte speichern.");
        setButtons(false);
    }

    function correct() {
    if (!$('#cButton').hasClass("disabled")) {
        currentResult = currentResult + "1,"
        nextItem();
    }
    }

    function incorrect() {
      if (!$('#iButton').hasClass("disabled")) {
          currentResult = currentResult + "0,"
          nextItem();
      }
    }

    function save() {
    if (!$('#sButton').hasClass("disabled")) {
        $('#btn'+currentStudent).addClass("btn-success");
        $('#mainModal').modal('hide');
        var dict = {};
        dict["authenticty_token"] = "<%= Rails.configuration.secret_token%>";
        dict["results"] = currentStudent + "#" + currentResult.substr(0, currentResult.length-1);
        $.ajax({
            type: "PUT",
            url: "<%= user_group_assessment_measurement_results_path(@user, @group, @assessment, @measurement)%>",
            data: dict
        });
    }
  }
</script>