<nav class="navbar">
  <p class="navbar-brand"><%= "Klasse #{@measurement.assessment.group.name}: #{@measurement.assessment.test.short_name} am #{@measurement.date.to_date.strftime("%d.%m.%Y")}" %></p>
</nav>

<div class="container-fluid">
  <div id="content">

    <div id="alert">
      <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p id="notice">Nach dem Klick auf einen Namen haben Sie Gelegenheit, die Schriftgröße für den Test individuell anzupassen.</p>
      </div>
    </div>

    <div class="row">
      <% @measurement.results.each do |r| %>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="btn btn-default groupButton <% unless r.responses[0].nil? %> btn-success<% end %>" id="btn<%=r.id%>" onclick="prepareTest(<%=r.id%>)">
              <%= r.student.name %>
            </div>
          </div>
      <% end %>
    </div>

    <div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalHeader">
      <div class="modal-dialog" style="width:70%">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="mainModalHeader"></h4>
          </div>
          <div class="modal-body" id="modalBody">
            <p align="center"><button id="rButton" type="button" class="btn btn-warning btn-lg" onclick="rButtonClick()">Lautstärketest: <span class="glyphicon glyphicon-arrow-up"></span></button></p>
            <br/>
            <br/>
            <audio id="Audio1">
              <!-- Notiz auf id achten
              <source id="ogg_src" src="lib/audio/barger01.ogg" type="audio/ogg" />
              <source id="mp3_src" src="lib/audio/barger01.mp3" type="audio/mp3" />
              -->
            </audio>
            <br/>
            <p class="text-center" style="font-size: 24px" id="pic">
              <br/>
              <br/>
            </p>
            <p style="font-family: 'fibel_nordregular'; font-size:96px" id="itemText" class="text-center">
              Test
            </p>
            <p class="text-center" style="font-size: 24px" id="status">
              <br/>
              <br/>
              <br/>
            </p>
            <!--Textfeld ist immer in der mitte, hat größe 96px-->
            <p align="center"><input style="font-family: 'fibel_nordregular'; font-size:96px" id="answer" type="text" class="text-center" placeholder="Test" align="middle">
              <br/>
              <br/>
              <br/>
            </p>
            <br/>
            <br/>
            <br/>
          </div>
          <div class="modal-footer" style="text-align: center">
            <button id="cButton" type="button" class="btn btn-info btn-lg disabled" onclick="cButtonClick()">Nochmal anhören</button>
            <span class="glyphicons glyphicons-arrow-left"></span>
            <button id="sButton" type="button" class="btn btn-default disabled" onclick="sButtonClick()">Test starten <span class="glyphicon glyphicon-arrow-down"></span></button>
            <button id="iButton" type="button" class="btn btn-success btn-lg disabled" onclick="iButtonClick()">Weiter</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <button id="iButton" type="button" class="btn btn-block" onclick="window.close()">Messung beenden</button>
      </div>
    </div>

  </div>
</div>

<script>


    $(window).keydown(function(event) {
        switch (event.keyCode) {
            case 37:
                cButtonClick();
                break;
            case 38:
                rButtonClick();
                break;
            case 39:
                iButtonClick();
                break;
            case 40:
                sButtonClick();
                break;
        }
    });
    var currentStudent = -1;
    var currentItemIndex = -1;
    var currentResult = "";
    var preparation = true;

    var itemData = {
    <% @measurement.assessment.test.items.each do |i| %>
    <%= i.id%>: "<%= i.itemtext%>",
    <% end %>
    };
    var students = {
    <% @measurement.results.each do |r| %>
    <%= r.id%>: "<%= r.student.name%>",
    <% end %>
    };
    var studentData = {
    <% @measurement.results.each do |r| %>
    <%= r.id%>: [
        <% r.items.each do |i| %>
        <%= i %>,
        <% end %>
    ],
    <% end %>
    };
    var lastResults = {
    <% @measurement.results.each do |r| %>
    <%= r.id%>: <%= r.getPriorResult%>,
    <% end %>
    };
    function setButtons(enabled) {
        if (enabled) {
            if (preparation) {
                $('#cButton').removeClass("disabled");
                $('#cButton').removeClass("btn-info");
                $('#sButton').removeClass("disabled");
                $('#sButton').addClass("btn-success");
                $('#iButton').removeClass("disabled");
                $('#iButton').removeClass("btn-success");
            }
            else {
                $('#cButton').removeClass("disabled");
                $('#cButton').addClass("btn-info");
                $('#iButton').removeClass("disabled");
                $('#iButton').addClass("btn-success");
                $('#sButton').addClass("disabled");
                $('#sButton').removeClass("btn-success");
            }
        }
        else {
            $('#cButton').addClass("disabled");
            $('#cButton').removeClass("btn-info");
            $('#iButton').addClass("disabled");
            $('#iButton').removeClass("btn-success");
            $('#sButton').addClass("disabled");
            $('#sButton').removeClass("btn-success");
        }
    }
    function nextItem() {
        currentItemIndex++;
        if (currentItemIndex < studentData[currentStudent].length)
            $('#itemText').html("");/*
            $('#itemText').html(itemData[studentData[currentStudent][currentItemIndex]]);*/
        else
            stopTest();
    }
    function prepareTest(student) {
        currentStudent = student;
        $('#mainModalHeader').html(students[student]);
        $('#itemText').css('font-size', 96);
        $('#itemText').html("Test");
        $('#answer').attr('font-size', 96);
        $('#pic').html("<br/><br/><br/>");
        $('#status').html("<br/><br/><br/>");
        preparation = true;
        $('#cButton').html("Schrift größer: <span class='glyphicon glyphicon-arrow-left'></span>");
        $('#iButton').html("Schrift kleiner: <span class='glyphicon glyphicon-arrow-right'></span>");
        var fileName = "/assets/Test.mp3";
        $("#Audio1").attr("src",fileName).trigger('play');
        $('#rButton').toggle(true);
        setButtons(true);
        $('#mainModal').modal('show');
    }
    function startTest() {
        preparation = false;
        $('#cButton').html("Nochmal anhören:  <span class='glyphicon glyphicon-arrow-left'></span>");
        $('#iButton').html("Weiter:  <span class='glyphicon glyphicon-arrow-right'></span>");
        $('#answer').val('');
        $('#answer').focus();
        document.getElementById("answer").placeholder = "";
        setButtons(true);
        currentItemIndex = -1;
        nextItem();
        var fileName = "/assets/".concat(itemData[studentData[currentStudent][currentItemIndex]]).concat(".mp3");
        $("#Audio1").attr("src",fileName).trigger('play');
        currentResult = "";
    }
    function stopTest() {
        var dict = {};
        var trend = "";
        dict["authenticty_token"] = "<%= Rails.configuration.secret_token%>";
        dict["results"] = currentStudent + "#" + currentResult.substr(0, currentResult.length-1);
        $.ajax({
            type: "PUT",
            url: "<%= user_group_assessment_measurement_results_path(@user, @group, @assessment, @measurement)%>",
            data: dict
        });
        $('#itemText').html("");
        $('#answer').attr('type', 'hidden');
        if (lastResults[currentStudent] < currentResult.split("1").length)
            $("#pic").html("<%= escape_javascript(image_tag("Levumi-jubelt.gif", size: "250")) %>");
        else
            $("#pic").html("<%= escape_javascript(image_tag("Levumi-weiterlesen.gif", size: "250")) %>");
        $('#status').html("Alle Items beantwortet. " +  "<br/>Die Testergebnisse wurden gespeichert! <br/>Sie können das Testfenster nun schließen.");
        $('#btn'+currentStudent).addClass('btn-success');
        setButtons(false);
    }
    function cButtonClick() {
        if (!$('#cButton').hasClass("disabled")) {
            if (preparation) {
                curSize=parseInt($('#itemText').css('font-size')) + 6;
                $('#itemText').css('font-size', curSize);
                $('#answer').css('font-size', curSize);
            }
            else {
                /*TODO Audiodatei nochmal abspielen*/
                var h = document.getElementById("Audio1");
                h.pause();
                h.currentTime = 0;
                h.play();/*
                $("#Audio1").trigger('play');*/

            }
        }
    }
    /*TODO Audiodatei abspielen*/
    function iButtonClick() {
        if (!$('#iButton').hasClass("disabled")) {
            if (preparation) {
                curSize = parseInt($('#itemText').css('font-size')) - 6;
                $('#itemText').css('font-size', curSize);
                $('#answer').css('font-size', curSize);
            }
            else {
                /*Wenn Wörter abgefragt werden:
                    - Wennh richtig eingegeben: - 1 Punkt dazu
                    - Wenn falsch eingegeben  : - Keinen Punkt dazu
                    Dann: - inputfeld leeren
                          -nächstes Wort auswählen

                 */
                var temp = document.getElementById("answer").value;
                if(itemData[studentData[currentStudent][currentItemIndex]] == temp) {
                    currentResult = currentResult + "1,";
                    document.getElementById("answer").value = "";
                    nextItem();
                    $('#answer').focus();
                    var fileName = "/assets/".concat(itemData[studentData[currentStudent][currentItemIndex]]).concat(".mp3");
                    $("#Audio1").attr("src",fileName).trigger('play');
                }
                else {
                    currentResult = currentResult + "0,";
                    document.getElementById("answer").value = "";
                    nextItem();
                    $('#answer').focus();
                    var fileName = "/assets/".concat(itemData[studentData[currentStudent][currentItemIndex]]).concat(".mp3");
                    $("#Audio1").attr("src",fileName).trigger('play');
                }
            }
        }
    }
    function sButtonClick() {
        if (preparation) {
            $('#rButton').toggle(false);
            startTest();
        }
    }
    function rButtonClick() {
        if (preparation) {
            var h = document.getElementById("Audio1");
            h.pause();
            h.currentTime = 0;
            h.play();
        }
    }


    /*Was passiert beim schließen der Dialogbox*/
    $("#mainModal").on("hidden.bs.modal", function () {
        $('#answer').attr('font-size', 96);
        $('#answer').val(''); /*input box leeren*/
        document.getElementById("answer").placeholder = "Test"; /*input box wieder placeholder geben*/
        $('#answer').attr('type', 'text');
    });


    $('#answer').keydown(function(e){
        var key = e.charCode || e.keyCode;
        if (key == 37||key == 38||key == 39||key == 40) {
            // enter key do nothing
            e.preventDefault();
        } else {

        }
    });

</script>
