<table class="table table-striped">
  <thead>
  <th>
    Name
  </th>
  <th>
    Anzahl Assessments/Klassen
  </th>
  <th>
    Anzahl Messungen/Messzeitpunkte
  </th>
  <th>
    Anzahl Ergebnisse/Messungen
  </th>
  </thead>
  <tbody>
  <% @users.order("name ASC").each do |user| %>
  <tr>
    <td>
      <%= link_to user_path(user.id, format: "xml") do %>
          <%= user.name %>
      <% end %>
    </td>
    <td>
      <%= Assessment.where(:group => Group.where(:user => user)).count %>
    </td>
    <td>
      <%= Measurement.where(:assessment => Assessment.where(:group => Group.where(:user => user))).count %>
    </td>
    <td>
      <%= Result.where(:measurement => Measurement.where(:assessment => Assessment.where(:group => Group.where(:user => user)))).count %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>