
<%= form_tag(user_group_assessment_measurement_results_path(@user, @group, @assessment, @measurement), :method => :put, class: "form", :data => {:remote => true}) do %>
    <% index = 0 %>
    <% local_assigns[:result].items.each do |i| %>
        <% tempItem = Item.find(i) %>
        <% if tempItem.itemtype == 0 %>
            <div class="form-group">
              <p class="lead">
                <%= tempItem.shorthand %>
              </p>
              <div class="radio">
                <label>
                  <%= radio_button_tag "results[#{r.student.id}[#{i}]]", '1', r.responses[index] == 1 %>Richtig<br/>
                </label>
              </div>
              <div class="radio">
                <label>
                  <%= radio_button_tag "results[#{r.student.id}[#{i}]]", '0', r.responses[index] == 0 %>Falsch<br/>
                </label>
              </div>
              <div class="radio">
                <label>
                  <%= radio_button_tag "results[#{r.student.id}[#{i}]]", 'NA', r.responses[index] == nil %><i>Nicht bearbeitet</i><br/>
                </label>
              </div>
            </div>
            <br/>
        <% end %>
        <% index = index + 1 %>
    <%end%>
    <%= submit_tag 'Speichern', :class => "btn btn-primary" %>
    <%= link_to "Zurück",  [@user, @group, @assessment], :data => {:remote => true}%>
<% end %>