<%= form_tag(user_group_assessment_measurement_results_path(@user, @group, @assessment, @measurement), :method => :put, :html => {:class => "form-inline"}, :data => {:remote => true}) do %>
    <table class="table table-striped">
      <thead>
      <th>
        Schüler/-in
      </th>
      <th>
        Ergebnisse: Pro Item des Tests einer der Werte 1, 0 oder NA für "richtig", "falsch", bzw. "kein Ergebnis vorhanden". Werte durch Komma getrennt.)
      </th>
      </thead>
      <tbody>
      <% @measurement.results.each do |r| %>
          <tr>
            <td>
              <%= "#{r.student.name}"  %>
            </td>
            <td>
              <%= text_field_tag "results[#{r.student.id}]", r.to_csv(true), class: "form-control", placeholder: "z.B. 1,0,0,NA"%>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= submit_tag 'Speichern', :class => "btn btn-primary" %>
    <%= link_to "Zurück",  [@user, @group, @assessment], :data => {:remote => true}%>
<% end %>
