<%if @assessment.test.student_access%>
    <div class="alert alert-warning">
      <p>Achtung: Für diesen Test muss der Schülerzugang verwendet werden!</p>
    </div>
<% end %>

<table class="table table-striped">
  <thead>
  <th>
    <%if @assessment.test.student_access%>
      Verfügbar bis
    <% else %>
      Testung am
    <% end %>
  </th>

  <%if !@assessment.test.student_access%>
    <th>
      Durchführen
    </th>
  <% end %>

  <th>
    Anzahl Ergebnisse
  </th>
  <th>
  </th>
  </thead>
  <tbody>
  <% @assessment.measurements.sort_by { |a| a.date}.each do |measurement| %>
    <tr>
      <td>
        <%= measurement.date.to_date.strftime("%d.%m.%Y") %>
      </td>

      <%if !@assessment.test.student_access %>
        <td>
          <% if @user.transferred != true %>
            <%= link_to new_user_group_assessment_measurement_results_path(@user, @group, @assessment, measurement, :format => :html),
                        :title => "Messung online durchführen", :data => {:remote => true} do %>
              <span class="glyphicon glyphicon-expand"></span>
            <% end %>
            <%= link_to new_user_group_assessment_measurement_results_path(@user, @group, @assessment, measurement, :format => :text),
                        :title => "Messung offline durchführen", :data => {:remote => true} do %>
              <span class="glyphicon glyphicon-print"></span>
            <% end %>
          <% end %>
        </td>
      <%end%>

      <td>
        <% if measurement.results.count > 0 && @user.transferred != true %>
          <%= link_to edit_user_group_assessment_measurement_results_path(@user, @group, @assessment, measurement), :title => "Ergebnisse bearbeiten", :data => {:remote => true} do %>
            <%= measurement.real_results %>
          <% end %>
        <% else %>
          --
        <% end %>
      </td>
      <td>
        <% if @user.transferred != true %>
          <%= link_to edit_user_group_assessment_measurement_path(@user, @group, @assessment, measurement), :title => "Messung bearbeiten", :data => {:remote => true} do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to user_group_assessment_measurement_path(@user, @group, @assessment, measurement), :title => "Löschen", :method => :delete, :data => {:remote => true, :confirm => "Damit gehen alle Ergebnisse dieser Messung verloren!\n\nSind Sie sicher?"} do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div id="measurementForm">
  <% if @user.transferred %>
    <button class=" btn btn-default btn-disabled">Bitte verwenden Sie ab jetzt nur noch die neue Version von Levumi (www.levumi.de) für ihre Tests</button>
  <% else %>
    <%if @assessment.test.archive %>
      <button class=" btn btn-default btn-disabled">Test ist nicht mehr aktuell! Bitte neuen Test verwenden.</button>
    <% else %>
      <%= link_to @assessment.test.student_access ? "Neuer Messzeitraum" : "Neuer Messzeitpunkt", new_user_group_assessment_measurement_path(@user, @group, @assessment), :class => "btn btn-default", :data => {:remote => true} %>
      <%= link_to @assessment.test.student_access ? "Neuer Messzeitraum in sieben Tagen" : "Neuer Messzeitpunkt bis in sieben Tagen", {:controller => "measurements", :action => "create", :assessment_id => @assessment, :measurement =>{:date =>Date.today+7}}, method: :post, :class => "btn btn-default", :data => {:remote => true}%>
    <% end %>
  <% end %>
</div>

