<% if user.account_type == 1 %>
  <div class='form-group row'>
    <%= f.label 'Institution', class: 'col-sm-4 col-form-label' %>
    <div class='col-sm-8 pl-0'>
      <%= f.text_field :institution, id: 'institution', class: 'form-control'%>
      <small id="focusHelp" class="form-text text-muted">An welcher Forschungseinrichtung sind Sie t채tig?</small>
    </div>
  </div>
<% end %>

<% if user.account_type == 0 %>
  <div class='form-group row'>
    <%= f.label 'Ort', class: 'col-sm-4 col-form-label' %>
    <div class='col-sm-8 pl-0'>
      <%= f.text_field :town, id: 'town', class: 'form-control'%>
      <small id="focusHelp" class="form-text text-muted">Wo befindet sich Ihre Schule?</small>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label 'Schulart', class: 'col-sm-4 col-form-label' %>
    <div class='col-sm-8 pl-0'>
      <%= f.select(:school_type, school_types, {}, {class: 'custom-select'}) %>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label 'T채tigkeit', class: 'col-sm-4 col-form-label' %>
    <div class='col-sm-8 pl-0'>
      <%= f.select(:focus, focus_types, {}, {class: 'custom-select'}) %>
      <small id="focusHelp" class="form-text text-muted">Was ist Ihre 체berwiegende T채tigkeit?</small>
    </div>
  </div>
<% end  %>
