<!-- Form zum Ändern existierender User - entweder für eigene Daten oder als Admin -->

<%= form_for user, remote: true, namespace: user.id, html: {autocomplete: 'off', onsubmit: 'updatePassword();'} do |f| %> <!-- #Bei Submit neuen Key speichern, damit umkodiert werden kann  -->

  <%= render 'users/form/email', f: f, user: user, readOnly: !@login.has_capability?('user')%>  <!-- Nutzer darf E-Mail nicht nachträglich ändern (?) -->

  <%= render 'users/forms/password', f: f, user: user, namespace: true %>

  <% if @login.has_capability?('user') %>    <!-- Nutzer darf eigenen Accounttyp nicht nachträglich ändern (?) -->
    <%= render 'users/form/type', f: f, label: 'Typ' %>
  <% end %>

  <%= render 'users/form/state', f: f, label: 'Bundesland' %>

  <%= render 'users/form/extra_data', f: f, user: user  %>

  <%= f.submit 'Aktualisieren', class: 'btn btn-outline-success'%>
  <button class='btn btn-outline-secondary' onclick="$('#modal').modal('hide');return false;">Abbrechen</button>
<% end %>

<script>
  function updatePassword() {
      if ($('#<%= user.id %>_password').val() != "") {
          sessionStorage['new_login'] = $('#<%= user.id %>_password').val();          //Passwort zum Umkodieren der Schülerdaten lokal speichern
          $('#<%= user.id %>_security_digest').val(sjcl.encrypt($('#<%= user.id %>_security').val(), $('#<%= user.id %>_password').val()));   //Neues Passwort mit Sicherheitsantwort verschlüsseln
      }
      else
          $('#<%= user.id %>_security_digest').val(sjcl.encrypt($('#<%= user.id %>_security').val(), sessionStorage['login']));  //Altes Passwort mit (neuer) Sicherheitsantwort verschlüsseln

  }
</script>