<!-- Form für Selbstregistrierung auf Hauptseite -->

<%= form_for user, remote: true, authenticity_token: true do |f| %>

  <%= render 'users/form/email', f: f, user: user, readOnly: false %>

  <%= render 'users/form/type', f: f,  user: user, readOnly: false, label: 'Ich bin...' %>

  <%= render 'users/form/state', f: f, label: 'Aus...' %>

  <%= f.submit 'Registrieren', class: 'btn btn-outline-success'%>
  <button class='btn btn-outline-secondary' onclick="$('#modal').modal('hide');return false;">Abbrechen</button>
<% end %>