<!-- Input-Line für Passwort, Passwortbestätigung und Sicherheitsabfrage, mit Fehlerangaben, wird für Upate und Intro verwendet -->

<div class='form-group'>
  <label for='password'>Passwort</label>
  <%= f.password_field :password, id:'password', class: 'form-control', placeholder: 'Neues Passwort'%>
  <small id='passwordHelp' class='form-text text-muted'>Passwort bleibt unverändert, wenn nichts eingegeben wird.</small>
  <%= f.password_field :password_confirmation, class: 'form-control mt-1', placeholder: 'Neues Passwort bestätigen'%>
  <div class='invalid-feedback'>
    <% if user.errors[:password].any? %>
      Passwort muss mindestens 5 Zeichen haben!
    <% else  %>
      Passwörter stimmen nicht überein!
    <% end %>
  </div>
</div>

<div class='form-group'>
  <label for='password'>In welcher Stadt wurden Sie geboren?</label>
  <%= f.hidden_field :security_digest, id:'security_digest', value: "" %>
  <input type='text' id='<%= namespace ? "#{user.id}_" : '' %>security' class='form-control <%= user.errors[:security_digest].any? ? 'is-invalid' : ''%>', placeholder='Antwort'/>
  <% if user.errors[:security_digest].any? %>
    <div class='invalid-feedback'>
      Bitte geben Sie die Antwort bei einer Passwortänderung erneut ein!
    </div>
  <% else %>
    <small id='securityHelp' class='form-text text-muted'>
      Wenn Sie Ihr Passwort vergessen, können Sie es mit Hilfe der Antwort auf die Sicherheitsfrage wiederherstellen. Ihre Antwort wird nur verschlüsselt gespeichert.
    </small>
  <% end %>
</div>

<script>
    function updatePassword() {
        if ($('#<%= namespace ? "#{user.id}_" : '' %>password').val() != '') {
            sessionStorage['new_login'] = $('#<%= namespace ? "#{user.id}_" : '' %>password').val();          //Passwort zum Umkodieren der Schülerdaten lokal speichern
            if ($('#<%= namespace ? "#{user.id}_" : '' %>security').val() == '')
                $('#<%= namespace ? "#{user.id}_" : '' %>security_digest').val('');   //Keine Sicherheitsantwort eingegeben, nichts mitsenden!
            else
                $('#<%= namespace ? "#{user.id}_" : '' %>security_digest').val(sjcl.encrypt($('#<%= namespace ? "#{user.id}_" : '' %>security').val(), $('#<%= namespace ? "#{user.id}_" : '' %>password').val()));   //Neues Passwort mit Sicherheitsantwort verschlüsseln
        }
        else
            $('#<%= namespace ? "#{user.id}_" : '' %>security_digest').val(sjcl.encrypt($('#<%= namespace ? "#{user.id}_" : '' %>security').val(), sessionStorage['login']));  //Altes Passwort mit (neuer) Sicherheitsantwort verschlüsseln

    }
</script>