<!-- Input-Line für Passwort, Passwortbestätigung und Sicherheitsabfrage, mit Fehlerangaben, wird für Upate und Intro verwendet -->

<div class='form-group'>
  <label for='password'>Passwort</label>
  <%= f.password_field :password, id:'password', class: 'form-control' + (user.errors[:password_confirmation].any? ? ' is-invalid' : ''), placeholder: 'Neues Passwort'%>
  <small id='passwordHelp' class='form-text text-muted'>Passwort bleibt unverändert, wenn nichts eingegeben wird.</small>
  <%= f.password_field :password_confirmation, class: 'form-control mt-1' + (user.errors[:password_confirmation].any? ? ' is-invalid' : ''), placeholder: 'Neues Passwort bestätigen'%>
  <% if user.errors[:password_confirmation].any? %>
    <div class='invalid-feedback'>
        Passwörter stimmen nicht überein!
    </div>
  <% end %>
  <%= f.hidden_field :keys, id:'keys', value: '' %>
</div>

<div class='form-group'>
  <label for='password'>In welcher Stadt wurden Sie geboren?</label>
  <%= f.hidden_field :security_digest, id:'security_digest', value: '' %>
  <input type='text' id='<%= namespace ? "#{user.id}_" : '' %>security' class='form-control <%= user.errors[:security_digest].any? ? 'is-invalid' : ''%>', placeholder='Antwort'/>
  <% if user.errors[:security_digest].any? %>
    <div class='invalid-feedback'>
      Bitte geben Sie die Antwort bei einer Passwortänderung erneut ein!
    </div>
  <% else %>
    <small id='securityHelp' class='form-text text-muted'>
      Wenn Sie Ihr Passwort vergessen, können Sie es mit Hilfe der Antwort auf die Sicherheitsfrage wiederherstellen.
      Ihre Antwort wird nicht gespeichert, daher muss sie bei einer Passwortänderung erneut eingegeben werden!
    </small>
  <% end %>
</div>

<script>
    //Update nicht erfolgreich: Keys wieder mit altem PW verschlüsseln
    if (sessionStorage['old_login'] != undefined) {
        recode_keys(sessionStorage['old_login'])
        sessionStorage.removeItem('old_login')
    }
    function updatePassword() {
        if ($('#<%= namespace ? "#{user.id}_" : '' %>password').val() != '') {   //Passwort wird geändert
            //Keys umcodieren und mitschicken
            recode_keys($('#<%= namespace ? "#{user.id}_" : '' %>password').val())
            $('#<%= namespace ? "#{user.id}_" : '' %>keys').val(JSON.stringify(keys))

            //Ggf. security_digest neu erstellen und mitsenden, ansonsten leeren
            if ($('#<%= namespace ? "#{user.id}_" : '' %>security').val() == '')
                $('#<%= namespace ? "#{user.id}_" : '' %>security_digest').val('')
            else
                $('#<%= namespace ? "#{user.id}_" : '' %>security_digest').val(sjcl.encrypt($('#<%= namespace ? "#{user.id}_" : '' %>security').val(), $('#<%= namespace ? "#{user.id}_" : '' %>password').val()))   //Neues Passwort mit Sicherheitsantwort verschlüsseln
        }
        else
          if ($('#<%= namespace ? "#{user.id}_" : '' %>security').val() != '')  //Nur Sicherheitsantowrt wird geändert
              $('#<%= namespace ? "#{user.id}_" : '' %>security_digest').val(sjcl.encrypt($('#<%= namespace ? "#{user.id}_" : '' %>security').val(), sessionStorage['login']))  //Altes Passwort mit (neuer) Sicherheitsantwort verschlüsseln
        return true
    }
</script>