<!-- Radio-Boxes für Account-Typ, in allen Forms verwendet -->

<div class='form-group row'>
  <div class='col-sm-4'>
    <div class='custom-control custom-control-inline pl-0'>
      <label class='form-check-label'><%= label %></label>
    </div>
  </div>
  <div class='col-sm-8  pl-0'>
    <div class='custom-control custom-radio'>
      <%= f.radio_button :account_type, 0, class: 'custom-control-input'%>
      <%= f.label :account_type, 'Lehrkraft', value: 0, class: 'custom-control-label' %>
    </div>
    <div class='custom-control custom-radio'>
      <%= f.radio_button :account_type, 1, class: 'custom-control-input' %>
      <%= f.label :account_type, 'Forscher*in', value: 1, class: 'custom-control-label' %>
    </div>
    <div class='custom-control custom-radio'>
      <%= f.radio_button :account_type, 2, class: 'custom-control-input' %>
      <%= f.label :account_type, 'Privatperson', value: 2, class: 'custom-control-label' %>
    </div>
  </div>
</div>