<nav class="navbar">
</nav>

<div class="container-fluid">
  <div id="content">
    <div class="jumbotron">
      <h2>Einverständnis</h2>
      <% if @login_user.id < 519 #temporaer...alte User sehen das. %>
        <p class="text-justify">
          Wir haben unsere Datenschutzerklärung angepasst und den Datenschutz in Levumi verbessert! Bitte stimmen Sie den neuen Nutzungsbedingungen zu:
        </p>
      <% end %>
      <p class="text-justify">
        Ich bin damit einverstanden, dass meine Daten gemäß der <%= link_to "Datenschutzerklärung", url_for(:controller => "application", :action => "static", :page => "privacy")%> im Rahmen der wissenschaftlichen Begleitforschung ausgewertet werden.
        Ihre Daten werden nur anonymisiert ausgewertet und nicht an Dritte weitergegeben, Sie können Ihre Daten jederzeit löschen!
      </p>
      <p class="text-justify">
        Hiermit bestätige ich außerdem, dass ich für alle Daten, die ich von Kindern mit Hilfe dieser Plattform erhebe, die nötige Berechtigung (Eltern, Schulleiter, ggf. Betreuungslehrkaft) einhole.
        Die Daten der Kinder werden durch Verschlüsselung vollständig anonymisiert gespeichert! Eine Vorlage für einen <%= link_to "Elternbrief", asset_path("Elternbrief.docx")%> finden Sie oben im Menü.
      </p>
      <%= form_tag(url_for(:controller => 'application', :action => 'accept'), :class => "form", id:"acceptForm") do %>
          <%= submit_tag 'Bestätigen und Weiter', :class => "btn btn-primary", id:"acceptButton" %>
      <% end %>
    </div>
  </div>
</div>


<script>
    <%if @login_user.tcaccept.nil? #alles auch temporaer - umcodierung nach einloggen%>
    var students = {
        <%@login_user.groups.each do |group| %>
        '<%=group.id%>': {
            <%group.students.each do |s|%>
            '<%=s.id%>': '<%=raw s.name%>',
            <%end%>
        },
        <%end%>
    }

    Object.keys(students).forEach(function(keyGroup) {
        Object.keys(students[keyGroup]).forEach(function(keyStudent) {
            console.log(keyStudent)
            console.log(students[keyGroup][keyStudent][0]!="{")
            if(students[keyGroup][keyStudent][0]!= "{"){
            }
            else{
                students[keyGroup][keyStudent] = sjcl.decrypt(sessionStorage['encryptKey'],students[keyGroup][keyStudent])

            }
        });
    });

    sessionStorage['students'] = JSON.stringify(students);
    <%end%>

    $(function() {
        $('#acceptButton').click(function (e) {
            e.preventDefault();
            var students = JSON.parse(sessionStorage['students']);
            var encryptedStudents = {}
            Object.keys(students).forEach(function(keyGroup) {
                encryptedStudents[keyGroup] = {}
                Object.keys(students[keyGroup]).forEach(function(keyStudent) {
                    encryptedStudents[keyGroup][keyStudent] = sjcl.encrypt(sessionStorage['encryptKey'], students[keyGroup][keyStudent])
                });
            });
            jQuery.ajax({
                type: "PUT",
                url: "<%= multiUpdate_user_path(@login_user) %>",
                data: {students: encryptedStudents}
            })
            $('#acceptForm').submit();
        })
    });

</script>