<nav class="navbar">
</nav>

<div class="container-fluid">
  <div id="content">
    <div class="jumbotron">
      <h2>Einverständnis</h2>
      <p>
        Hiermit bestätige ich, dass ich für alle Daten, die ich von Schülern mit Hilfe dieser Plattform erhebe, die nötige Berechtigung (Eltern, Schulleiter, ggf. Betreuungslehrkaft) einhole.
      </p>
      <p>
        Die vollständige Datenschutzerklärung sowie eine Vorlage für einen Elternbrief finden Sie oben im Menü.
      </p>
      <%= form_tag(url_for(:controller => 'application', :action => 'accept'), :class => "form", id:"acceptForm") do %>
          <%= submit_tag 'Bestätigen und Weiter', :class => "btn btn-primary", id:"acceptButton" %>
      <% end %>

    </div>
  </div>
</div>


<script>
    <%if @login_user.tcaccept.nil?%>
    var students = {
        <%@login_user.groups.each do |group| %>
        '<%=group.id%>': {
            <%group.students.each do |s|%>
            '<%=s.id%>': '<%=s.name%>',
            <%end%>
        },
        <%end%>
    }
    sessionStorage['students'] = JSON.stringify(students);
    <%end%>

    $(function() {
        $('#acceptButton').click(function (e) {
            e.preventDefault();
            var students = JSON.parse(sessionStorage['students']);
            var encryptedStudents = {}
            Object.keys(students).forEach(function(keyGroup) {
                encryptedStudents[keyGroup] = {}
                Object.keys(students[keyGroup]).forEach(function(keyStudent) {
                    encryptedStudents[keyGroup][keyStudent] = sjcl.encrypt(sessionStorage['encryptKey'], students[keyGroup][keyStudent])
                });
            });
            jQuery.ajax({
                type: "PUT",
                url: "<%= multiUpdate_user_path(@login_user) %>",
                data: {students: encryptedStudents}
            })
            $('#acceptForm').submit();

        })
    });

</script>