<!DOCTYPE html>
<html lang="de">
  <head>
  <title>Levumi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_javascript_tag 'startpage' %>
  

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= yield :head if content_for? :head %>
    <%= vite_client_tag %>
  </head>

  <body>
    <div class='container'>
  <main id="levumi" data='{"mode": "<%=Rails.env%>"}'>  
  <startpage-app is-maintenance="true" user="<%= @login ? @login.email : 'none' %>" initial-time-stamp="<%= @render_timestamp %>"></startpage-app>
</main>

       
  </body>
</html>