<!DOCTYPE html>
<html lang="de">
  <head>
  <title>Levumi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_stylesheet_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= yield :head if content_for? :head %>
    <%= vite_client_tag %>
  </head>

  <body>
    <div class='container text-center'>
        <img src='/images/shared/Levumi-normal.jpg' alt='Levumi' width='25%' height='25%'/>
        <p class="mt-3" style="font-weight: bold; font-size: 1.2em;">
        Leider konnte Ihre Registrierung nicht korrekt abgeschlossen werden. Bitte kehren Sie zur <a href="/">Startseite</a> zurück, und 
        probieren es in einigen Minuten erneut. Sollte das Problem weiterhin auftreten, können Sie sich gern per Mail an registrierung@levumi.de melden.
        </p>
      </div>     
  </body>
</html>