<%= content_for :navbar do %>
  <!-- Navbar mit Login-Dialog -->
  <nav class='navbar sticky-top navbar-light bg-light justify-content-between d-block d-sm-flex'>
    <a class='navbar-brand d-block d-xs-inline' href='#'><img src='/images/shared/Levumi-normal_small.png' alt='Levumi' width='48' height='48'/>Levumi</a>
    <%= link_to raw('Zugang für Schülerinnen<br class="d-md-none"> und Schüler'), '/testen', class: 'btn btn-outline-secondary'%>
    <div class='mt-2 mt-md-0'>
      <% if @login%>
        <div><a class="btn btn-outline-secondary" href='/start'><%=@login.email%></a></div>
      <%else%>
        <div class='dropdown <%= @retry ? 'show':'' %>'>
          <a class='btn btn-outline-secondary dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='<%=@retry.to_s %>'>
            Einloggen
          </a>
          <div class='dropdown-menu dropdown-menu-sm-right <%= @retry ? 'show':'' %>' aria-labelledby='navbarDropdown'>
            <%= form_tag url_for(controller: 'application', action: 'login'), class: 'px-4 py-3 mx-3 mx-md-0 mw-100', onsubmit: "sessionStorage['login'] = $('#password').val();" do%>
              <div class='form-group'>
                <input type='email' name='email' aria-label='Email-Adresse eingeben' class='form-control <%= @retry ? 'is-invalid':'' %>' id='email' placeholder='E-Mail Adresse'>
              </div>
              <div class='form-group'>
                <input type='password' name='password' aria-label='Passwort eingeben' class='form-control <%= @retry ? 'is-invalid':'' %>' id='password' placeholder='Passwort'>
                <div class='invalid-feedback'>
                  Benutzername oder Passwort ist falsch!
                </div>
              </div>
              <%= submit_tag 'Einloggen', class: 'btn btn-primary'%>
            <% end %>
            <% if @retry %>
              <%= link_to 'Passwort vergessen? Hier klicken!', '/passwort', class: 'dropdown-item' %>
            <% end %>
            <div class='dropdown-divider'></div>
            <a class='dropdown-item' href='#', onclick="$('#modal').modal('show');">Noch keinen Zugang? Hier kostenlos registrieren!</a>
          </div>
        </div>
      <%end%>
    </div>
  </nav>
<% end %>

<%= content_for :modal do %>
  <!-- Dialog zur Registrierung -->
  <div class='modal-header'>
    <h5 class='modal-title'>Registrierung</h5>
    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
      <span aria-hidden='true'>&times;</span>
    </button>
  </div>
  <div class='modal-body' id='modal-body'>
    <%= render 'users/form/form_register', user: User.new %>
  </div>
<% end %>

<%= content_for :body do %>

  <div class="container-fluid">
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="container">
            <div class="flex-fill">
              <div class='img_container alphabet-img'>
                <p class='lead m-auto'>
                  Levumi - Kompetenzorientierte Lernverlaufsdiagnostik, einfach gemacht!
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container">
            <div class="flex-fill">
              <div class='img_container grownups-img'>
              <p class='lead' style="width: 80%">
                Durch regelmäßige, kurze Testungen werden Lernzuwächse und Problemfelder sichtbar.<br/>
                Wir bieten aktuell unter anderem Tests zum Lesen, zur Rechtschreibung und für Mathematik an.<br/>
                Wenn es Fördermaterial gibt, so wird Ihnen dieses spezifisch für Ihre Schüler:innen empfohlen.<br/>
                Sie können sich auch Notizen zu den Lernverläufen direkt in Levumi machen!<br/>
                Zusammenarbeit im Team wird effektiv unterstützt: Teilen Sie die Ergebnisse mit Kolleg:innen oder arbeiten Sie zusammen an Ihren Klassen!
              </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container">
            <div class="flex-fill">
              <div class='img_container children-img'>
                <p class='lead mt-auto ml-auto' style="width: 80%">
                  Levumi unterstützt Regelschullehrkräfte und sonderpädagogische Lehrkräfte bei der Diagnose und Förderung einzelner Schüler:innen sowie der gesamten Schulklasse.<br/>
                  Durch eine regelmäßige Testung können Sie den Lernverlauf Ihrer Schüler:innen sichtbar machen und Schwierigkeiten im Lernen frühzeitig erkennen.<br/>
                  Die Teilnahme ist kostenfrei und der Schutz der Daten ist ein zentrales Anliegen von Levumi!<br/>
                  Alle Daten werden auf Servern der Universität Kiel gespeichert. Außerdem setzen wir Verschlüsselungstechniken zur Anonymisierung der Daten ein.<br/>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class='text-center mt-3'>
      <p class='lead' id="blog-description">
        Der <a href='https://www.levumi-blog.uni-kiel.de' aria-describedby="blog-description" target='_blank'>Levumi Blog</a> unterstützt Sie bei allen Fragen rund um die Plattform und informiert über praxisrelevante <a href='#', onclick="$('#projects').modal('show');">Forschungsergebnisse</a>. <br/>
        Das folgende Video stellt Ihnen die Plattform kurz vor.
      </p>

        <div class="embed-responsive embed-responsive-16by9 video-container">
          <iframe title="Dieses Video stellt Ihnen die kostenfreie Online-Plattform Levumi vor und gibt Ihnen einen Einblick, inwiefern Sie durch die Arbeit mit Levumi profitieren können." class='embed-responsive-item' width="560" height="315" src="https://www.youtube-nocookie.com/embed/-F5cPsnC9IA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


    <div class='text-center mt-3'>
      <p class='lead'>Interessiert? Dann einfach einen kostenfreien <a href='#', onclick="$('#modal').modal('show');">Zugang anlegen</a></p>
      <p class='lead'>Neu: Der Levumi-Newsletter hält Sie auf dem Laufenden! <a href='https://www-mailman.uni-regensburg.de/mailman/listinfo/news-levumi', target='_blank'>Jetzt abonnieren</a></p>
    </div>
  </div>

  <%= render 'application/imprint' %>
  <%= render 'application/privacy' %>
  <%= render 'application/about' %>
  <%= render 'application/footer', show_about: true %>
<% end %>
