<%= content_for :head do %>
    <!-- Zusätzliche Styles für Landing Page -->
    <style>
      /* Container holding the image and the text */
      .img_container {
        position: relative;
      }

      /* Bottom left text */
      .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 8px;
      }

      /* Top left text */
      .top-left {
        position: absolute;
        top: 8px;
        left: 8px;
      }

      /* Top right text */
      .top-right {
        position: absolute;
        top: 8px;
        right: 8px;
      }

      /* Bottom right text */
      .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 8px;
      }

      /* Centered text */
      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .lead {
        padding: 15px; color: black; background-color: #f0f8ffdd;
        font-size: 1.2em;
      }
    </style>

<% end %>

<%= content_for :navbar do %>
  <!-- Navbar mit Login-Dialog -->
  <nav class='navbar sticky-top navbar-expand-lg navbar-light bg-light'>
    <a class='navbar-brand' href='#'><img src='/images/shared/Levumi-normal_small.png' alt='Levumi' width='48' height='48'/>Levumi</a>
    <%= link_to 'Zugang für Schülerinnen und Schüler', '/testen', class: 'nav-item btn btn-outline-secondary nav-link ml-auto'%>
    <ul class='navbar-nav ml-auto'>
      <% if @login%>
        <li><a class="btn btn-outline-secondary" href='/start'><%=@login.email%></a></li>
      <%else%>
        <li class='nav-item dropdown <%= @retry ? 'show':'' %>'>
          <a class='nav-item btn btn-outline-secondary dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='<%=@retry.to_s %>'>
            Einloggen
          </a>
          <div class='dropdown-menu dropdown-menu-right <%= @retry ? 'show':'' %>' aria-labelledby='navbarDropdown'>
            <%= form_tag url_for(controller: 'application', action: 'login'), class: 'px-4 py-3', onsubmit: "sessionStorage['login'] = $('#password').val();" do%>
              <div class='form-group'>
                <input type='email' name='email' class='form-control <%= @retry ? 'is-invalid':'' %>' id='email' placeholder='E-Mail Adresse'>
              </div>
              <div class='form-group'>
                <input type='password' name='password' class='form-control <%= @retry ? 'is-invalid':'' %>' id='password' placeholder='Passwort'>
                <div class='invalid-feedback'>
                  Benutzername oder Passwort ist falsch!
                </div>
              </div>
              <%= submit_tag 'Einloggen', class: 'btn btn-primary'%>
            <% end %>
            <% if @retry %>
              <%= link_to 'Passwort vergessen? Hier klicken!', '/passwort', class: 'dropdown-item' %>
            <% end %>
            <div class='dropdown-divider'></div>
            <a class='dropdown-item' href='#', onclick="$('#modal').modal('show');">Noch keinen Zugang? Hier kostenlos registrieren...</a>
          </div>
        </li>
      <%end%>
    </ul>
  </nav>
<% end %>

<%= content_for :modal do %>
  <!-- Dialog zur Registrierung -->
  <div class='modal-header'>
    <h5 class='modal-title'>Registrierung</h5>
    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
      <span aria-hidden='true'>&times;</span>
    </button>
  </div>
  <div class='modal-body' id='modal-body'>
    <%= render 'users/form/form_register', user: User.new %>
  </div>
<% end %>

<%= content_for :body do %>

  <div class="container-fluid">
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="container">
            <div class="flex-fill">
              <div class='img_container'>
                <img src="<%= url_to_image 'alphabet.jpg' %>" width='100%' height='667px'>
                <p class='lead centered text-center'>
                  Levumi - Kompetenzorientierte Lernverlaufsdiagnostik, einfach gemacht!
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container">
            <div class="flex-fill">
              <div class='img_container'>
              <img src="<%= url_to_image 'erwachsene.jpg' %>" width='100%' height='667px'>
              <p class='lead top-left' style="width: 80%">
                Durch regelmäßige, kurze Testungen werden Lernzuwächse und Problemfelder sichtbar.<br/>
                Wir bieten aktuell unter anderem Tests zum Lesen, zur Rechtschreibung und für Mathematik an.<br/>
                Wenn es Fördermaterial gibt, so wird Ihnen dieses spezifisch für Ihre Schüler:innen empfohlen.<br/>
                Sie können sich auch Notizen zu den Lernverläufen direkt in Levumi machen!<br/>
                Zusammenarbeit im Team wird effektiv unterstützt: Teilen Sie die Ergebnisse mit Kolleg:innen oder arbeiten Sie zusammen an Ihren Klassen!
              </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container">
            <div class="flex-fill">
              <div class='img_container'>
                <img src="<%= url_to_image 'kinder.jpg' %>"  width='100%' height='667px'>
                <p class='lead bottom-right' style="width: 66%">
                  Levumi unterstützt Regelschullehrkräfte und sonderpädagogische Lehrkräfte bei der Diagnose und Förderung einzelner Schüler:innen sowie der gesamten Schulklasse.<br/>
                  Durch eine regelmäßige Testung können Sie den Lernverlauf Ihrer Schüler:innen sichtbar machen und Schwierigkeiten im Lernen frühzeitig erkennen.<br/>
                  Die Teilnahme ist kostenfrei und der Schutz der Daten ist ein zentrales Anliegen von Levumi!<br/>
                  Alle Daten werden auf Servern der Universität Kiel gespeichert. Außerdem setzen wir Verschlüsselungstechniken zur Anonymisierung der Daten ein.<br/>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>

    <div class='text-center mt-3'>
      <p class='lead'>
        Der <a href='https://www.levumi-blog.uni-kiel.de' target='_blank'>Levumi Blog</a> unterstützt Sie bei allen Fragen rund um die Plattform und informiert über praxisrelevante <a href='#', onclick="$('#projects').modal('show');">Forschungsergebnisse</a>. <br/>
        Das folgende Video stellt Ihnen die Plattform kurz vor.
      </p>
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-F5cPsnC9IA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class='text-center mt-3'>
      <p class='lead'>Interessiert? Dann einfach einen kostenfreien <a href='#', onclick="$('#modal').modal('show');">Zugang anlegen</a></p>
      <p class='lead'>Neu: Der Levumi-Newsletter hält Sie auf dem Laufenden! <a href='https://www-mailman.uni-regensburg.de/mailman/listinfo/news-levumi', target='_blank'>Jetzt abbonieren</a></p>
    </div>
  </div>


  <footer class='mt-2'>
    <ul class="list-inline text-center">
      <li class="list-inline-item"><a href='#imprint' data-toggle='modal' data-target='#imprint'>Impressum</a></li>
      <li class="list-inline-item"><a href='#privacy' onclick="$('#privacy').modal('show')">Datenschutzerklärung</a></li>
      <li class="list-inline-item"><a href='#projects' onclick="$('#projects').modal('show')">Über das Projekt</a></li>
    </ul>
  </footer>
<% end %>
