<%= content_for :head do %>
    <!-- Zusätzliche Styles für Landing Page -->
    <style>
      header>h1 {
        color: #7c6df9;
        background-color: #f8f9fa;
        font-style: oblique;
        font-weight: bolder;
      }

      header.masthead {
        position: relative;
        background-color: #f8f9fa;
        background: url('<%= url_to_image 'alphabet.jpg' %>') no-repeat center center;
        background-size: cover;
        padding-top: 16rem;
        padding-bottom: 16rem;
      }

      .overlay {
        position: absolute;
        top: 25%;
        left: 75%;
      }

      .container-fluid {
        padding: 0;
      }

      .row {
        padding-top: 35px;
      }

      .lead {
          padding: 15px;
          position: absolute;
          top: 30%;
        }
    </style>
<% end %>

<%= content_for :navbar do %>
  <!-- Navbar mit Login-Dialog -->
  <nav class='navbar sticky-top navbar-expand-lg navbar-light bg-light'>
    <a class='navbar-brand' href='#'><img src='favicon.ico' alt='Levumi' width='48' height='48'/>Levumi</a>

    <ul class='navbar-nav ml-auto'>
      <li class='nav-item dropdown <%= @retry ? 'show':'' %>'>
        <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='<%=@retry.to_s %>'>
          Einloggen
        </a>
        <div class='dropdown-menu dropdown-menu-right <%= @retry ? 'show':'' %>' aria-labelledby='navbarDropdown'>
          <%= form_tag url_for(controller: 'application', action: 'login'), class: 'px-4 py-3', onsubmit: "sessionStorage['login'] = $('#password').val();" do%>
            <div class='form-group'>
              <input type='email' name='email' class='form-control <%= @retry ? 'is-invalid':'' %>' id='email' placeholder='E-Mail Adresse'>
            </div>
            <div class='form-group'>
              <input type='password' name='password' class='form-control <%= @retry ? 'is-invalid':'' %>' id='password' placeholder='Passwort'>
              <div class='invalid-feedback'>
                Benutzername oder Passwort ist falsch!
              </div>
            </div>
            <%= submit_tag 'Einloggen', class: 'btn btn-primary'%>
          <% end %>
          <% if @retry %>
            <%= link_to 'Passwort vergessen? Hier klicken!', '/passwort', class: 'dropdown-item' %>
          <% end %>
          <div class='dropdown-divider'></div>
          <a class='dropdown-item' href='#', onclick="$('#modal').modal('show');">Noch keinen Zugang? Hier kostenlos registrieren...</a>
          <div class='dropdown-divider'></div>
          <a class='dropdown-item' href='/testen'>Hier geht's zum Zugang für Schüler*innen...</a>
        </div>
      </li>
    </ul>
  </nav>
<% end %>

<%= content_for :modal do %>
  <!-- Dialog zur Registrierung -->
  <div class='modal-header'>
    <h5 class='modal-title'>Registrierung</h5>
    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
      <span aria-hidden='true'>&times;</span>
    </button>
  </div>
  <div class='modal-body' id='modal-body'>
    <%= render 'users/form/form_register', user: User.new %>
  </div>
<% end %>

<%= content_for :body do %>
  <!-- Page unter Navbar -->
  <header class='masthead text-white text-center'>
    <div class='overlay'>
      <img src='<%= url_to_image 'shared/Levumi-transparent.png' %>' width='75%'/>
    </div>
    <h1>Lernverlaufsdiagnostik leicht gemacht! </h1>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <img src='<%= url_to_image 'kinder.jpg' %>' width='100%'/>
      </div>
      <div class="col-6">
        <p class='lead'>
          Levumi unterstützt Sie bei der Diagnose und Förderung Ihrer Schulklasse.<br/>
          Durch eine regelmäßige Testung können Sie den Lernverlauf Ihrer Schüler*innen sichtbar machen und Probleme frühzeitig erkennen.<br/>
          Die Teilnahme ist kostenfrei und der Schutz der Daten ist ein zentrales Anliegen von Levumi!
          Alle Daten werden auf Server der Universität Kiel gespeichert und wir setzten Verschlüsselungstechnik zur Anonymisierung der Daten ein.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <p class='lead'>
          Zusammenarbeit im Team wird effektiv unterstützt!<br/>
          Teilen Sie die Ergebnisse mit Kolleg*innen oder Eltern oder arbeiten Sie zusammen an Ihren Klassen!
        </p>
      </div>
      <div class="col-8">
        <img src='<%= url_to_image 'erwachsene.jpg' %>' width='100%'/>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img src='<%= url_to_image 'graph.png' %>' width='100%'/>
      </div>
      <div class="col-6">
        <p class='lead'>
          Durch regelmäßige, kurze Testungen werden Lernzuwächse und Problemfelder sichtbar. Wir bieten aktuell unter Anderem Tests zum Lesen, zur Rechtschreibung und für Mathematik an.<br/>
          Wenn es Fördermaterial gibt, so wird Ihnen dieses spezifisch für Ihre Schüler*innen empfohlen.<br/>
          Sie können sich auch Notizen zu den Lernverläufen direkt in Levumi machen!<br/>

          Interesse? Dann einfach  <a href='#', onclick="$('#modal').modal('show');">gleich hier</a> kostenlos registrieren...
        </p>

      </div>
      <div class="col-1">
        <img src='<%= url_to_image 'buchstapel.png' %>' height='400px'/>
      </div>
    </div>
  </div>

  <footer>
    <ul class="list-inline text-center ">
      <li class="list-inline-item"><a href='#' onclick="$('#imprint').modal('show')">Impressum</a></li>
      <li class="list-inline-item"><a href='#' onclick="$('#privacy').modal('show')">Datenschutzerklärung</a></li>
    </ul>
  </footer>

<% end %>
