<%
  assessments = Test.get_assessment_count
  measurements = Test.get_measurement_count
  results = Test.get_result_count
%>

<table class="table table-striped">
  <thead>
  <th>
    Name
  </th>
  <th>
    Fach
  </th>
  <th>
    Kategorie
  </th>
  <th>
    Anzahl Assessments/Klassen
  </th>
  <th>
    Anzahl Messungen/Messzeitpunkte
  </th>
  <th>
    Anzahl Ergebnisse/Messungen
  </th>
  </thead> 
  <tbody>
  <% @tests.order("subject ASC, construct ASC, name ASC, level ASC").each do |test| %>
  <tr>
    <td>
      <div class="dropdown">
        <p class="dropdown-toggle"  id="dropdownMenu_t<%= test.id%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= test.short_name %>
          <span class="caret"></span>
        </p>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu_t<%= test.id%>">
          <li><%= link_to "XLS", test_path(test.id, format: "xml") %></li>
          <li><%= link_to "CSV", test_path(test.id, format: "txt") %></li>
        </ul>
      </div>
    </td>
    <td>
      <%= test.subject %>
    </td>
    <td>
      <%= test.construct %>
    </td>
    <td>
      <%= assessments.has_key?(test.id) ? assessments[test.id] : 0 %>
    </td>
    <td>
      <%= measurements.has_key?(test.id) ? measurements[test.id] : 0%>
    </td>
    <td>
      <%= results.has_key?(test.id) ? results[test.id] : 0%>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>