<%
  assessments = Test.get_assessment_count
  measurements = Test.get_measurement_count
  results = Test.get_result_count
%>

<table class="table table-striped">
  <thead>
  <th>
    Name
  </th>
  <th>
    Fach
  </th>
  <th>
    Kategorie
  </th>
  <th>
    Anzahl Assessments/Klassen
  </th>
  <th>
    Anzahl Messungen/Messzeitpunkte
  </th>
  <th>
    Anzahl Ergebnisse/Messungen
  </th>
  </thead> 
  <tbody>
  <% @tests.order("subject ASC, construct ASC, name ASC, level ASC").each do |test| %>
  <tr>
    <td>
      <%= link_to test_path(test.id, format: "xml") do %>
          <%= test.short_name %>
      <% end %>
    </td>
    <td>
      <%= test.subject %>
    </td>
    <td>
      <%= test.construct %>
    </td>
    <td>
      <%= assessments.has_key?(test.id) ? assessments[test.id] : 0 %>
    </td>
    <td>
      <%= measurements.has_key?(test.id) ? measurements[test.id] : 0%>
    </td>
    <td>
      <%= results.has_key?(test.id) ? results[test.id] : 0%>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>