<table class='table table-hover table-sm text-small'>
  <thead class='thead-light'>
  <tr>
    <th scope='col'>ID</th>
    <th scope='col'>Bereich</th>
    <th scope='col'>Kompetenz</th>
    <th scope='col'>Testfamilie</th>
    <th scope='col'>Niveaustufe</th>
    <th scope='col'>Archiv</th>
    <th scope='col'>Aktionen</th>
  </tr>
  </thead>
  <tbody>
  <% Test.all.sort_by{ |t| [t.test_family.competence.area.id, t.test_family.competence.id, t.test_family.id, t.archive.to_s] }.each do |test| %>
    <tr <% if test.archive %>class='text-secondary'<% end %>>
      <th scope='row'><%= test.id %></th>
      <td><%= test.test_family.competence.area.name %></td>
      <td><%= test.test_family.competence.name %></td>
      <td><%= test.test_family.name %></td>
      <td><%= test.level %></td>
      <td><%= test.archive ? 'Ja' : '' %></td>
      <td>
        <div id='test_<%= test.id %>' hidden='true'>
          <p class="text-light bg-secondary text-small">Kurzbeschreibung</p>
          <p>
            <%= raw test.description['short'] %>
          </p>
          <p class="text-light bg-secondary">Ausführliche Beschreibung</p>
          <p>
            <%= render test %>
          </p>

        </div>
        <a href='#' onclick='showTest(<%= test.id %>)'><button class='btn btn-sm btn-outline-primary'><i class='fas fa-search'></i> Beschreibung</button></a>
        <%= link_to edit_test_path(test), remote: true do %><button class='btn btn-sm btn-outline-success'><i class='fas fa-edit'></i> Bearbeiten</button><% end %>
        <%= link_to test_path(test), method: :delete, data: {confirm: 'Test mit allen Messungen löschen! Sind Sie sicher?'} do %><button class='btn btn-sm btn-outline-danger'><i class='fas fa-trash'></i> Löschen</button><% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
  function showTest(id) {
      $('#modal-body').html($('#test_' + id).html())
      $('#modal').modal('show')
  }
</script>