<script>
    //Eintrag in der Navleiste markieren
    highlightNavItem('navbarTests');
</script>

<div id='levumi' data='{}'>

  <!-- Spinner -->
  <div v-if='!$data'>
    <b-row>
      <div class='spinner'>
        <div class='bounce1'></div>
        <div class='bounce2'></div>
        <div class='bounce3'></div>
      </div>
    </b-row>
  </div>

  <b-container fluid>
    <b-row v-cloak class='mt-3'>
      <b-col md='12'>

        <b-tabs pills>

          <% if @login.has_capability?('test') %>
            <b-tab>
              <template slot='title'>
                <i class='fas fa-plus'></i> Neuer Test
              </template>
              <%= render 'form', test: nil %>
            </b-tab>
          <% end %>

          <% first = true %>
          <% Area.all.each do |a| %>
            <!-- Oberste Ebene Lernbereiche -->
            <b-tab <% if first %> active <% end %> >
            <% first = false %>

              <template slot='title'>
                <%= a.name %>
              </template>

              <b-card no-body class='mt-3'>
                <b-tabs pills card>

                  <!-- Hinweistext falls keine Tests vorhanden -->
                  <div slot='empty'>
                    <div class='text-center text-muted'>
                      Keine Kompetenzbereiche vorhanden.
                    </div>
                  </div>

                  <% a.competences.each do |c| %>
                    <!-- Zweite Ebene Kompetenzen -->
                    <b-tab>

                      <template slot='title'>
                        <%= c.name %>
                      </template>

                      <%= c.description%>

                      <div class='mt-3'>
                        <b-tabs pills>

                          <!-- Hinweistext falls keine Tests vorhanden -->
                          <div slot='empty'>
                            <div class='text-center text-muted'>
                              Keine Tests vorhanden.
                            </div>
                          </div>

                          <% c.test_families.each do |f| %>
                            <!-- Dritte Ebene Tests -->
                            <b-tab>

                              <template slot='title'>
                                <%= f.name %>
                              </template>

                              <%= f.description%>

                              <b-card no-body class='mt-3'>
                                <b-tabs pills card vertical>

                                  <% f.tests.sort_by{ |a| a.archive.to_s }.each do |t|  # to_s damit "false" < "true" %>
                                    <!-- Vierte Ebene Niveaustufen -->
                                    <b-tab>

                                      <template slot='title'>
                                        <% if t.archive %>
                                          <span class='text-muted'><%= t.name %></span>
                                        <% else %>
                                          <%= t.name %>
                                        <% end %>
                                      </template>

                                      <!-- Testinfo rendern -->
                                      <div id='info_<%= t.id %>'>
                                        <!-- Edit-Button anzeigen, falls Nutzer Berechtigung hat -->
                                        <% if @login.has_capability?('test') %>
                                          <button class='btn btn-outline-secondary float-right' onclick='showForm(<%= t.id %>)'><i class='fas fa-edit'></i> Test bearbeiten</button>
                                        <% end %>
                                        <div id='info_<%= t.id %>_inner'>
                                          <%= render t %>
                                        </div>
                                      </div>
                                      <div id='form_<%= t.id %>' style='display: none'>
                                        <%= render 'form', test: t %>
                                      </div>

                                    </b-tab>
                                  <% end %>

                                </b-tabs>
                              </b-card>

                            </b-tab>
                          <% end %>

                        </b-tabs>
                      </div>

                    </b-tab>
                  <% end %>

                </b-tabs>
              </b-card>

            </b-tab>
          <% end %>

        </b-tabs>

      </b-col>
    </b-row>
  </b-container>
</div>

<script>
    function showForm(id) {
        $('#info_' + id).hide();
        $('#form_' + id).show();
    }

    function hideForm(id) {
        $('#form_' + id).hide();
        $('#info_' + id).show();
    }
</script>