<script>
    //Eintrag in der Navleiste markieren
    highlightNavItem('navbarTests');
</script>

<div id='levumi' data='{}'>

  <!-- Spinner -->
  <div v-if='!$data'>
    <b-row>
      <div class='spinner'>
        <div class='bounce1'></div>
        <div class='bounce2'></div>
        <div class='bounce3'></div>
      </div>
    </b-row>
  </div>

  <b-container fluid>
    <b-row v-cloak class='mt-3'>
      <b-col md='12'>

        <b-tabs pills>

          <% Area.order(:name).all.each do |a| %>
            <!-- Oberste Ebene Lernbereiche -->
            <b-tab>
              <template slot='title'>
                <%= a.name %>
              </template>

                <b-tabs pills class='mt-3'>

                  <!-- Hinweistext falls keine Tests vorhanden -->
                  <div slot='empty'>
                    <div class='text-center text-muted'>
                      Keine Kompetenzbereiche vorhanden.
                    </div>
                  </div>

                  <% a.competences.order(:name).each do |c| %>
                    <!-- Zweite Ebene Kompetenzen -->
                    <b-tab>

                      <template slot='title'>
                        <%= c.name %>
                      </template>

                      <b-alert show variant='secondary' class='mt-2'>
                        <span class='text-small'><%= c.description%></span>
                      </b-alert>


                        <b-tabs pills class='mt-3'>

                          <!-- Hinweistext falls keine Tests vorhanden -->
                          <div slot='empty'>
                            <div class='text-center text-muted'>
                              Keine Tests vorhanden.
                            </div>
                          </div>

                          <% c.test_families.order(:name).each do |f| %>
                            <!-- Dritte Ebene Tests -->
                            <b-tab>

                              <template slot='title'>
                                <%= f.name %>
                              </template>

                              <b-alert show variant="secondary" class='mt-2'>
                                <span class='text-small'><%= f.description%></span>
                              </b-alert>

                              <b-card no-body class='mt-3'>
                                <b-tabs pills card vertical>

                                  <% f.tests.where(archive: false).order(:level).all.each do |t|  %>
                                    <!-- Vierte Ebene Niveaustufen -->
                                    <b-tab title='<%= t.level %>'>

                                      <!-- Testinfo rendern -->
                                      <div id='info_<%= t.id %>'>
                                        <div id='info_<%= t.id %>_inner'>
                                          <%= render t %>
                                        </div>
                                      </div>

                                    </b-tab>
                                  <% end %>

                                </b-tabs>
                              </b-card>

                            </b-tab>
                          <% end %>

                        </b-tabs>

                    </b-tab>
                  <% end %>

                </b-tabs>
            </b-tab>
          <% end %>

        </b-tabs>

      </b-col>
    </b-row>
  </b-container>
</div>