<title>Levumi2</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application' %>

<!-- sonstige Libaries -->
<%= javascript_include_tag 'sjcl.js' %>
