<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <a class='navbar-brand' href='/start'><img src='/favicon.ico' alt='Levumi' width='48' height='48'/>Levumi</a>

  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarContent' aria-controls='navbarContent' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>

  <div class='collapse navbar-collapse' id='navbarContent'>

    <ul class='navbar-nav ml-3'>
      <li class='nav-item active' id='intro1'>
        <%= link_to 'Diagnostik', '/start', class: 'nav-link', id: 'navbarHome'%>
      </li>
      <li class='nav-item' id='intro2'>
        <%= link_to '/klassenbuch', class: 'nav-link', id: 'navbarKlassenbuch' do%>
          Klassenbuch
          <% if @login.new_shares? %>
            <span class="badge badge-info">Neu!</span>
          <% end %>
        <% end %>
      </li>
      <li class='nav-item' id='intro3'>
        <%= link_to 'Fördermaterialien', materials_path, class: 'nav-link', id: 'navbarMaterial'%>
      </li>
      <li class='nav-item' id='intro4'>
        <%= link_to 'Testübersicht', tests_path, class: 'nav-link', id: 'navbarTests'%>
      </li>
      <li class='nav-item dropdown' id='intro5'>
        <a class='nav-link dropdown-toggle' href='#' id='navbarHelp' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
          Weiteres
        </a>
        <div class='dropdown-menu' aria-labelledby='navbarHelp'>
          <a class='dropdown-item' href='https://www.youtube.com/channel/UCy_3wk9N5Flhdy5bqDogzCg', target='_blank'>Videos</a>
          <a class='dropdown-item' href='https://www.levumi-blog.uni-kiel.de/', target='_blank'>Blog</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Handbücher</h6>
          <a class='dropdown-item' href='/files/Testhandbuch_Deutsch.pdf'>Handbuch Lernbereich Deutsch</a>
          <a class='dropdown-item' href='/files/Foerderansaetze_Deutsch.pdf'>Handbuch Fördermaterial Deutsch</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Druckvorlagen</h6>
          <a class='dropdown-item' href='/files/A4_Levumi_normal.pdf' target='_blank'>A4 Levumi normal</a>
          <a class='dropdown-item' href='/files/A4_Levumi_jubelt.pdf' target='_blank'>A4 Levumi jubelt</a>
          <a class='dropdown-item' href='/files/A4_Levumi_liest.pdf' target='_blank'>A4 Levumi liest</a>
          <a class='dropdown-item' href='/files/A3_Levumi_normal.pdf' target='_blank'>A3 Levumi normal</a>
          <a class='dropdown-item' href='/files/A3_Levumi_jubelt.pdf' target='_blank'>A3 Levumi jubelt</a>
          <a class='dropdown-item' href='/files/A3_Levumi_liest.pdf' target='_blank'>A3 Levumi liest</a>
        </div>
      </li>
    </ul>

    <ul class='navbar-nav ml-auto'>
      <% if @masquerade %>
        <li class='nav-item'>
          <%= link_to "Sitzung als #{@login.email} beenden", '/logout', class: 'nav-link btn btn-outline-secondary', id: 'navbarMasquerade'%>
        </li>
      <% else %>
        <% if !@login.is_regular_user? %>
          <li class='nav-item dropdown'>
            <a class='nav-link dropdown-toggle' href='#' id='navbarSystem' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
              System
            </a>
            <div class='dropdown-menu dropdown-menu' aria-labelledby='navbarSystem'>
              <%= link_to_if @login.has_capability?('user'), 'Benutzerverwaltung', users_path, class: 'dropdown-item'%>
              <%= link_to_if @login.has_capability?('test'), 'Testverwaltung', tests_path(admin: true), class: 'dropdown-item'%>
              <%= link_to_if @login.has_capability?('material'), 'Materialverwaltung', materials_path(admin: true), class: 'dropdown-item'%>
              <%= link_to_if @login.has_capability?('export'), 'Datenexport', tests_path(export: true), class: 'dropdown-item'%>
            </div>
          </li>
        <% end %>
        <li class='nav-item dropdown' id='intro6'>
          <a class='nav-link dropdown-toggle' href='#' id='navbarMyData' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            Meine Daten
          </a>
          <div class='dropdown-menu' aria-labelledby='navbarMyData'>
            <%= link_to 'Profildaten ändern', edit_user_path(@login), class: 'dropdown-item', remote: true%>
            <%= link_to 'Testungen exportieren', user_path(@login, format: :text), class: 'dropdown-item'%>
          </div>
        </li>
        <li class='nav-item dropdown'>
          <a class='nav-link dropdown-toggle' href='#' id='navbarLegal' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            Rechtliches
          </a>
          <div class='dropdown-menu dropdown-menu-right' aria-labelledby='navbarLegal'>
            <a class='dropdown-item' href='/files/Vorlage_Elternbrief.doc'>Vorlage Einwilligungserklärung</a>
            <div class="dropdown-divider"></div>
            <a class='dropdown-item' href='#' onclick="$('#imprint').modal('show')">Impressum</a>
            <a class='dropdown-item' href='#' onclick="$('#privacy').modal('show')">Datenschutzerklärung</a>
            <a class='dropdown-item' href='#' onclick="$('#tc').modal('show')">Nutzungsbedingungen</a>
          </div>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/logout' data-method='post'>Ausloggen</a>
        </li>
      <% end %>
    </ul>

  </div>
</nav>

<!-- Hier, da ansonsten auch auf der Startseite geladen, wo es kein @login gibt -->
<div id='tc' class='modal fade' tabindex='-1'>
  <div class='modal-dialog modal-dialog-scrollable modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Nutzungsbedingungen</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <%= render 'application/terms_and_conditions' %>
        <p class='text-muted'>Zugestimmt am: <%= @login.tc_accepted.strftime('%d.%m.%Y - %H:%M') %></p>
      </div>
    </div>
  </div>
</div>

<script>
    //Setzt einen Eintrag der Navbar auf 'aktiv'
    function highlightNavItem(item) {
        //Klasse 'active' von allen nav-items entfernen und dann bei übergebenem Element hinzufügen
        let btns = document.getElementById('navbarContent').getElementsByClassName('active');
        for (let i = 0; i < btns.length; i++) {
            btns[i].className = btns[i].className.replace(' active', "");
        }
        document.getElementById(item).className += ' active';
    }
</script>