<!DOCTYPE html>
<html>
  <head>
    <title>Levumi2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'levumi' %>
    <%= stylesheet_pack_tag "levumi" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
