<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/header' %>
    <%= render 'layouts/scripts' %>

    <%= yield :head if content_for? :head %>
  </head>

  <body>

  <% if content_for? :navbar %>
    <%= yield :navbar %>
  <% else %>
    <%= render 'layouts/navbar' %>
  <% end %>

  <%= content_for?(:body) ? yield(:body) : yield %>

  <!-- Platz für Dialoge etc -->
  <div id='modal' class='modal fade' tabindex='-1'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <% if content_for? :modal %>
          <%= yield :modal %>
        <% else %>
          <div class='modal-body' id='modal-body'>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  </body>
</html>
