<!DOCTYPE html>
<html>
  <head>
    <title>Levumi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application' %>


    <!-- sonstige Libaries -->
    <%= javascript_include_tag 'sjcl.js' unless @no_script %>
    <%= render 'layouts/scripts' unless @no_script%>

    <%= yield :head if content_for? :head %>
    <%= vite_client_tag %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body>
  <!-- Platz für Navbar -->
  <% if content_for? :navbar %>
    <%= yield :navbar %>
  <% else %>
    <%= render 'layouts/navbar' %>
  <% end %>

  <!-- Hauptinhalt der Seite -->
  <%= content_for?(:body) ? yield(:body) : yield %>

  <!-- Platz für Dialoge etc -->
  <div id='modal' class='modal fade' tabindex='-1'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <% if content_for? :modal %>
          <%= yield :modal %>
        <% else %>
          <div class='modal-body' id='modal-body'>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id='toast-wrapper'>
    <div id='user-messages' role='alert' class='toast mt-4'>
      <div class='toast-header d-flex justify-content-between align-items-center'>
        <h5 class=''>Registrierung</h5>
        <button type='button' class='close' data-dismiss='toast' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='toast-body' id='user-messages-body'></div>
    </div>
  </div>

  <%= render 'application/imprint' %>
  <%= render 'application/privacy' %>
  <%= render 'application/about' %>

  <div id='t_and_c' class='modal fade' tabindex='-1'>
    <div class='modal-dialog modal-dialog-scrollable modal-lg'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title'>Nutzungsbedingungen</h5>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>
        <div class='modal-body'>
          <%= render 'application/terms_and_conditions' %>
        </div>
      </div>
    </div>
  </div>


  </body>
</html>
