<!DOCTYPE html>
<html>
  <head>
    <title>Levumi2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap eininden für Teile außerhalb von Vue - Besser mit Yarn? -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <%= javascript_pack_tag 'levumi' %>
    <%= stylesheet_pack_tag "levumi" %>

    <!-- sonstige Libaries -->
    <script src="/javascript/sjcl.js"></script>

    <!-- Spinner - evtl. besser woanders? -->
    <style>
      .spinner {
        margin: 100px auto 0;
        width: 70px;
        text-align: center;
      }

      .spinner > div {
        width: 18px;
        height: 18px;
        background-color: #333;

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      }

      .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }

      .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
      }

      @-webkit-keyframes sk-bouncedelay {
        0%, 80%, 100% { -webkit-transform: scale(0) }
        40% { -webkit-transform: scale(1.0) }
      }

      @keyframes sk-bouncedelay {
        0%, 80%, 100% {
          -webkit-transform: scale(0);
          transform: scale(0);
        } 40% {
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
          }
      }
      [v-cloak] {display: none}
    </style>

    <script>

      sessionStorage['login'] = "123" //Nur Dev!

        <%
          #Schülernamen verfügbar machen
          groups = {}
          @user.students.each do |s|
            groups[s.group_id] ||= []
            groups[s.group_id] += [s]
          end
       %>
      groups = JSON.parse("<%= escape_javascript(raw groups.to_json)%>");

      function decrypt(name, id) {
          let student = "";
          try{
              student = sjcl.decrypt(sessionStorage['login'], name);
          }
          catch(e){
              console.error(e.toString());
              console.log("Entschlüsselung fehlgeschlagen");
              student = "Kind" + id;
          }
          return student;
      }

      function encrypt(name) {
          return sjcl.encrypt(sessionStorage['login'], name);
      }

      function get_student(id) {
          let keys = Object.keys(groups);
          for (let i = 0; i < keys.length; ++i) {
              for (let j = 0; j < groups[keys[i]].length; ++j)
                  if (groups[keys[i]][j].id == id)
                      return groups[keys[i]][j];
          }
          return null;
      }

      //Namen der Schüler entschlüsseln, passiert bisher bei jedem Reload neu...

      Object.keys(groups).forEach(function(key, index) {
          for (let i = 0; i < this[key].length; ++i)
              this[key][i].name = decrypt(this[key][i].name, this[key][i].id);
          }, groups);

    </script>

  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="/favicon.ico" alt="Levumi" width="48" height="48"/>Levumi</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Start", '/start', class: "nav-link", id: "navbarHome"%>
        </li>
        <li class="nav-item">
          <%= link_to "Klassenbuch", '/klassenbuch', class: "nav-link", id: 'navbarKlassenbuch'%>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Material</a>
        </li>
        <li class="nav-item">
          <%= link_to "Testinfos", tests_path, class: "nav-link", id: 'navbarTests'%>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarHelp" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hilfe
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarHelp">
            <a class="dropdown-item" href="#">Handbuch</a>
            <a class="dropdown-item" href="#">Videos</a>
            <a class="dropdown-item" href="#">Blog</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profil
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarProfile">
            <%= link_to "Meine Daten", edit_user_path(@user), class: "dropdown-item", id: 'navbarMyData', remote: true%>
            <a class="dropdown-item" href="/logout" data-method="post">Ausloggen</a>
          </div>
        </li>
      </ul>

    </div>
  </nav>

  <script>
    function highlightNavItem(item) {
        //Klasse "active" von allen nav-items entfernen und dann bei übergebenem Element hinzufügen
        let btns = document.getElementById("navbarContent").getElementsByClassName("active");
        for (let i = 0; i < btns.length; i++) {
            btns[i].className = btns[i].className.replace(" active", "");
        }
        document.getElementById(item).className += " active";
    }
  </script>

  <%= yield %>

  <div  id="modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" id="modal-body">

        </div>
      </div>
    </div>
  </div>

  </body>
</html>
