<!DOCTYPE html>
<html>
<head>
  <title>Levumi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main" aria-expanded="false">
        <span class="sr-only">Navigation umschalten</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">Levumi</p>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-main">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Meine Klassen", user_groups_path(@login_user)%></li>
        <li><%= link_to("Meine Daten", user_path(@login_user))%></li>
        <li><%= link_to "Fördermaterial", materials_path%></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Weiteres Material<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Elternbrief", asset_path("Elternbrief.docx")%></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Druckvorlage A4: Levumi normal", asset_path("A4 Levumi normal.pdf")%></li>
            <li><%= link_to "Druckvorlage A4: Levumi jubelt", asset_path("A4 Levumi jubelt.pdf")%></li>
            <li><%= link_to "Druckvorlage A4: Levumi liest", asset_path("A4 Levumi liest.pdf")%></li>
            <li><%= link_to "Druckvorlage A3: Levumi normal", asset_path("A3 Levumi normal.pdf")%></li>
            <li><%= link_to "Druckvorlage A3: Levumi jubelt", asset_path("A3 Levumi jubelt.pdf")%></li>
            <li><%= link_to "Druckvorlage A3: Levumi liest", asset_path("A3 Levumi liest.pdf")%></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informationen<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Lehrerhandbuch", asset_path("LEVUMI_Lehrerhandbuch.pdf")%></li>
            <li><%= link_to "Verfügbare Tests", tests_path%></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Hilfe + Häufige Fragen", url_for(:controller => "application", :action => "static", :page => "help")%></li>
            <li><%= link_to "Impressum", url_for(:controller => "application", :action => "static", :page => "imprint")%></li>
            <li><%= link_to "Datenschutzerklärung", url_for(:controller => "application", :action => "static", :page => "privacy")%></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" method="post" action="<%=url_for(:controller => "application", :action => "logout")%>">
        <%= token_tag nil %>
        <button type="submit" class="btn btn-default">Ausloggen</button>
      </form>
      <% unless @login_user.nil? || @login_user.isRegularUser? %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">System<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if @login_user.hasCapability?("user") %>
                <li><%= link_to("Benutzerverwaltung", users_path)%></li>
            <% end %>
            <% if @login_user.hasCapability?("research") %>
                <li><%= link_to("Eigene Messungen exportieren", user_path(@login_user, format: "xml"))%></li>
            <% end %>
            <% if @login_user.hasCapability?("export") %>
                <li><%= link_to("Datenexport",  url_for(:controller => "application", :action => "export"))%></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>


<div class="container-fluid">
  <div id="content">
    <div id="alert">
      <% unless notice.blank? %>
          <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p id="notice"><%= raw(notice) %></p>
          </div>
      <% end %>
    </div>
    <%= yield %>
  </div>
</div>

</body>
</html>
