<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/header' %>

  <!-- Zusätzliche Styles für Landing Page -->
  <style>
    header.masthead {
      position: relative;
      background-color: #343a40;
      background: url("/images/kinder.jpg") no-repeat center center;
      background-size: cover;
      padding-top: 16rem;
      padding-bottom: 16rem;
    }

    header.masthead .overlay {
      position: absolute;
      background-color: #212529;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0.3;
    }
  </style>
</head>

<body>

<!-- Navbar mit Login-Dialog -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="favicon.ico" alt="Levumi" width="48" height="48"/>Levumi</a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown <%= @retry ? 'show':'' %>">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="<%=@retry.to_s %>">
        Einloggen
      </a>
      <div class="dropdown-menu dropdown-menu-right <%= @retry ? 'show':'' %>" aria-labelledby="navbarDropdown">
        <%= form_tag url_for(controller: 'application', action: 'login'), class: "px-4 py-3", onsubmit: "sessionStorage['login'] = $('#password').val();" do%>
          <div class="form-group">
            <input type="email" name="email" class="form-control <%= @retry ? 'is-invalid':'' %>" id="email" placeholder="E-Mail Adresse">
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control <%= @retry ? 'is-invalid':'' %>" id="password" placeholder="Passwort">
            <div class="invalid-feedback">
              Benutzername oder Passwort ist falsch!
            </div>
          </div>
          <%= submit_tag 'Einloggen', class: "btn btn-primary"%>
        <% end %>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Noch keinen Zugang? Hier kostenlos registrieren...</a>
      </div>
    </li>
  </ul>

</nav>

<!-- Page unter Navbar -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <h1>Lernverlaufsmessung leicht gemacht!</h1>
  </div>
</header>

</body>
</html>
