<!DOCTYPE html>
<html lang='de'>
  <head>
    <title>Levumi - Testfenster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_javascript_tag 'testing' %>
    <%= vite_stylesheet_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav class='navbar sticky-top navbar-expand-lg navbar-light bg-light'>
      <a class='navbar-brand' href='https://www.levumi.de'><img src='/images/shared/Levumi-normal_small.png' alt='Levumi' width='48' height='48'/>Levumi</a>
      <ul class='navbar-nav ml-auto'>
        <li class='nav-item' id='navbar_button'></li>
      </ul>
      <ul class='navbar-nav ml-auto'>
        <li class='navbar-text' id='navbar_text'></li>
      </ul>
    </nav>
    <div class='container-fluid' id='container'>
      <%= yield %>
    </div>
  </body>
</html>
