<!DOCTYPE html>
<html lang='de'>
  <head>
    <title>Levumi - Testfenster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_javascript_tag 'testing' %>
    <%= vite_stylesheet_tag 'application' %>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= yield %>   
  </body>
</html>
