<!DOCTYPE html>
<html lang='de'>
  <head>
    <title>Levumi - Testfenster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_javascript_tag 'testing' %>
    <%= vite_stylesheet_tag 'application' %>
    <meta charset="utf-8"/>
    <%= yield :head %>
  </head>

  <body tabIndex=0 >
    <div class='container-fluid' id='container'>
      <%= yield %>
    </div>
  </body>
</html>
